.about-company-wrap{
  margin-bottom: 40px;

  .block-detail-slider{
    border-top: none;
    border-bottom: 1px solid $cl-greaterly;

    &__carousel{
      padding-bottom: 30px;
    }
  }
}

.about{

  &__title{
    text-align: center;
    margin-top:40px;
    margin-bottom: 25px;
  }

  &__block-items{
    @include bord;
    padding: 40px 20px;
    position: relative;
    @include cornerTop;

    .columns {
      padding:5px;
    };

  }

  &__block-item{
    text-align: center;

  }

  &__block-item-counts{
    font-size: (74/16)+em;
    line-height: 1em;
    font-weight: bold;
    color: $cl-moderate-orange-yellow;
    display: block;

    &:after{
      content: '';
      height: 75px;
      width: 72px;
      background-image: url('../img/about/about-icon-sprite.svg');
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 72px auto;
      margin-left: 10px;

      @media #{$media-tablet} {
        height:45px;
        width: 45px;
      }
    }
  }

  #clean:after{
    background-position: 0 50%;

  }
  #review:after{
    background-position: 0 0;
  }
  #garbage:after{
    background-position: 0 99%;
  }

  &__block-item-description{
    text-transform: uppercase;
    font-weight: bold;

  }
}
.authorization {
  text-align: right;
  font-size: 95%;


  &__items{
    margin:0;
    padding: 10px 0;
  }

  &__item {
    display: inline-block;
    a {
      font-size: (14/16)+em;
    }
  }

  &__item:first-child {
    border-right: 1px solid transparent;
    a{
      margin-right: 18px;
    }
  }
  &__item:last-child {
    a{
      margin-left: 18px;
    }

  }
}
.block-detail-bigpic{
  &__pic{
    margin: 12px 0 25px 0;
  }

  &__img{
    width: 100%;
  }

  &__text{
    padding-bottom: 1rem;
    border-bottom: 1px solid $cl-greaterly;
  }
}
.block-detail-slider {
  border-top: 1px solid $cl-greaterly;
  .columns {
    padding: 0;
  }

  &__carousel {
    margin: 0;
    padding: 30px 20px 0 20px;
    overflow: hidden;
    .slick-prev, .slick-next {
      top: 34%;
    }
  }

  &__carousel.is-color-arrows {

    padding-bottom: 3.75rem;

    .slick-prev, .slick-next {
      top: 90%;
      &:before {
        width: 33px;
        height: 33px;
        color: $cl-real-white;
        font-weight: bold;
        background-image: none;
        opacity: 1;
        line-height: 33px;
        font-size: 1.5rem;
        font-family: 'FontAwesome', sans-serif;
      }
    }

    .slick-prev {
      left: 50%;
      margin-left: -23px;
      &:before {
        content: $fa-var-angle-left;
      }
    }

    .slick-next {
      right: 50%;
      margin-right: -23px;
      &:before {
        content: $fa-var-angle-right;
      }
    }

  }

  &__carousel-item {
    margin: 0 5px;
    padding: 5px 0;

  }

  &__link {
    height: 160px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: left top;
    position: relative;

    @media #{$media-tablet} {
      height: 120px;
    }

    &:hover {
      .block-detail-slider__loupe {
        display: block;
      }
    }
  }

  &__loupe {
    @extend .loupe-color;
  }

  &__name {
    padding-top: 20px;
    font-size: (18/16)+em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
  }

  &__text {
    height: 120px;
    overflow: hidden;
  }

  .small-text {
    padding: 15px 0;

    p {
      margin: 0;
    }
  }

}

.block-gallery {
  &__title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__big-image {
    img {
      width: 100%;
    }
  }

  &__text {

  }

  &__picture {
    outline: 8px solid transparent;
    outline-offset: -8px;
    cursor: pointer;
    position: relative;
    margin-top: 30px;

    &:hover {
      .block-gallery__loupe {
        display: block;
      }
    }
    img {
      width: 100%;
    }
  }

  &__loupe {
    @extend .loupe-color

  }

}
.block-order{
  &__title{
    text-align: center;
    margin-top: 60px;
    margin-bottom:30px;
  }

  &__form-wrap{
    padding: 50px 0;
    position: relative;
    background: $cl-shamrock-crayola url('../img/bubble-white-icon.svg') no-repeat 23% 89%;
    background-size: 170px;
  }

  &__form-wrap-2{
    background: url('../img/bubble-white-icon-2.svg') no-repeat 81% 12%;
    background-size: 70px;
  }
}
.block-payment{
  margin-top: 2.5rem;

  &__items{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-bottom: 30px;
    text-align: center;
  }

  &__item{
    display: inline-block;
    max-width: 140px;
    margin: 0 1.2%;
    vertical-align: middle;

    img{
      height: 66px;
    }


    span{
      text-transform: uppercase;
      font-weight:bold;
      font-size: (14/16)+em;
      display: block;
      margin-top:-8px;
    }
  }

  &__item:first-child{
    margin-left: 0;
  }
  &__item:last-child{
    margin-right: 0;
  }

  #cash{
    max-width: 85px;
    img{
      margin-top:38px;
    }
  }

  #paypal,
  #mts,
  #okpay
  {
    max-width: 95px;
  }

}
.block-products{

  .columns:first-child{
    padding-right: 30px;
  }
  .columns:last-child{
    padding-left: 30px;
  }

  &__item{
    padding:30px 0;
    position: relative;

    &:nth-child(odd){
      border-top: 1px solid $cl-greaterly;
      border-bottom: 1px solid $cl-greaterly;
    }

    &:last-child{
      border-bottom: none;
      margin-bottom: 5px;
    }


  }
&__img{
  width: 100%;
}

  &__name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: (24/16)+em;
    line-height: 1em;
  }

  &__price{
    position: absolute;
    bottom: 30px;

   strong{
     font-size: (18/16)+em;
     font-weight: bold;
     color: $cl-moderate-orange-yellow;
     margin-right: 15px;
   }
    span{
      font-size: (24/16)+em;
    }
  }
  &__btn{
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  &__btn.left{
    right: auto;
  }

  &__pic{
    position: relative;
    @include cornerRightWhite(12,0);
  }

}

.block-products.first{
  .block-products__item:first-child{
    padding-top: 15px;
    border-top: none;
  }
}
.block-social-page{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;


  &__title{
    text-transform: uppercase;
    font-size: (14/16)+em;
    font-weight: bold;
    margin-right: 7px;
    padding: 0 10px;
  }
  
  &__link{
    width: 93px;
    height: 33px;
    margin: 0 4px;
    display: inline-block;
    background-image: url('../img/social-page-icon-sprite.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 2px;
  }
  
  .-vk{
    background-position: center -7%;
    background-color: #426b9a;
  }

  .-facebook{
    background-position: center 29%;
    background-color: #4c68b3;
  }

  .-twitter{
    background-position: center 70%;
    background-color: #00abed;
  }

  .-odnoklassniki{
    background-position: center 105%;
    background-color: #ee8208;
  }

}
.block-subscribe-sidebar{
  margin-top: 80px;

  &__title{
    text-align: center;
    h3{
      font-size: 1em;
    }

  }

  &__form-wrap{
    padding: 15px 9px;
    @include bord;
    
    span{
      font-size: (62/16)+em;
      color: $cl-moderate-orange-yellow;
      font-weight:bold;
      display: block;
      width: 100%;
      text-align: center;
      line-height:1em;
    }

  }
}
.block-subscribe{
  margin-bottom: 90px;

  &__title{
    text-align: center;
    margin-top: 70px;
    margin-bottom:25px;
  }

  &__form-wrap{
    position: relative;
    @include bord;
    @include cornerTop;
    padding: 0 50px;
    
    span{
      font-size: (84/16)+em;
      color: $cl-moderate-orange-yellow;
      font-weight:bold;
      display: block;
      width: 100%;
      text-align: center;
    }

  }
}
.block-video{
&__wrap {
  @include bg2('layout-2.png', no-repeat);
  position: relative;
  background-size: 100%;
  background-position: center bottom;
}

  &__item{
    max-width: 608px;
    margin:auto;

  }

  &__item-bg{
    position: absolute;
    max-width: 608px;
    height:400px;
    top: 0;
    
  }

  &__item:hover {

    .block-video__item-bg {
      display: none;
      -webkit-transition: all 2s ;
      -moz-transition: all 2s ;
      -ms-transition: all 2s ;
      -o-transition: all 2s ;
      transition: all 2s ;

    }

    .block-video__img{
      filter: none;
      -webkit-transition: all 0.3s ;
      -moz-transition: all 0.3s ;
      -ms-transition: all 0.3s ;
      -o-transition: all 0.3s ;
      transition: all 0.3s ;

    }
  }

  &__img{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }

}


.certificates{
  &__title{
    text-align: center;
    margin-top: 80px;
  }

  &__carousel{
    text-align: center;
    position: relative;
    margin: 0 20px;
  }

  &__carousel-item{
    display: inline-block;
    margin: 27px 37px;
    outline: none;

    img{
      width: 100%;
    }
  }
}
.copyright{
  text-align: left;
  &__logo{
    max-width: 185px;
    margin: 30px 0 22px 0;
  }

  &__date {
    margin-bottom: 38px;
  }

  &__contacts{
    padding-left: 63px;
    @include bgsvg('icon-email.svg');
    background-size: inherit;
    cursor: pointer;
  }
  
  a{
    color: $cl-black-brown;
  }
}
.expirience{
  .columns{
    padding: 0;
  }

  &__title{
    text-align: center;
    margin-top:77px;
    margin-bottom: 44px;
  }


  &__block-text{
    padding: 6% 19%;
    position: relative;
    @include bord;

    @media #{$media-tablet} {
      padding: 3% 10%;
    }

  }

  &__block-text.left{
    @include cornerRight;
  }

  &__block-text.right{
    @include cornerLeft;
  }


  &__block-text.left,
  &__block-text.right
  {
    &:before{
      display: none;
    }
  }

  &__block-text.left:hover,
  &__block-text.right:hover
  {
    &:before{
      display: block;
    }

  }

  &__block-text.left{
    &:after{
      right: -42px;
    }
  }

  &__block-text.left:hover{
    &:after{
      right: -31px;
    }
  }

  &__block-text.right{
    &:after{
      left: -42px;
    }
  }


  &__block-text.right:hover{
    &:after{
      left: -31px;
    }
  }


  &__block-pic{
    img{
      width: 100%;
    }
  }

  h3{
    color: $cl-moderate-orange-yellow;
    text-transform: uppercase;
    font-size: (18/16)+em;
  }

  .btn-full-size{
    position: relative;


    &:after{
      content: ' ';
      top: 25px;
      left: 50%;
      margin-left: -13px;
      border: solid transparent;
      height: 0;
      width: 0;
      border: 13px solid transparent;
      border-top: 13px solid white;
      position: absolute;

      @media #{$media-tablet}{
        top: 20px;
      }
  }

  }

}
.footer-certificates{
  text-align: right;
  &__items{
    margin: 18px 0;
  }

  &__item{
    display: inline-block;
    margin-left: 10px;
  }
}

.footer-contacts{
  @extend  .top-contacts__phone;

  nobr{
    font-size:(24/16)+em;
  }
}
.footer-main-menu {
  text-align: center;
  font-size: (14/16)+em;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 45px;
  }

  &__items {
    margin: 0;
  }
  &__item {
    text-align: center;

    a {
      font-family: 'RobotoLight', sans-serif;
      text-decoration: none;
      color: $cl-black-brown;
      padding: 0 9px;
      display: inline-block;
      border: 4px solid transparent;

    }
  }

  &__items.menu-ft {
    width: 80%;
    margin: auto;
  }


  &__link{
    text-transform: uppercase;
    
    &:hover{
      color: $cl-black-brown;
    }
    
    &:before{
      content: '';
      width: 42px;
      height:40px;
      @include bgsvg('icon-present.svg');
      display: block;
      margin: auto;
    }
  }

  .button-m{
    float: right;
    margin: 25px 0;
  }

}

.header-slider{

  &__title{
    text-align: center;
    position: absolute;
    margin-top: 15px;
    width: 90%;
    left: 5%;
    z-index:1;

    h1{
      line-height: 1.1em;
    }
  }


  &__checkbox-wrap{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top:16px;
  }
  
  &__items{
    max-width: 1560px;
    margin:auto;
    overflow: hidden;

  }

  &__item{
    width: 100%;
    margin: auto;
    display: none;
    position: relative;

    @media (max-width: 1280px){
      width: 100%;
      overflow: hidden;
    }

    img{
      width: 100%;
      overflow: hidden;


      @media (max-width: 1280px){

      }
    }

  }

  &__item.active{
    display: block;
  }

  .menu-icon{
    width: 45px;
    height: 45px;
    position: relative;
    z-index: 2;

  }

  &__menu-item{
    position: absolute;
    max-width: 201px;
    cursor: pointer;

    a{
      position: absolute;
      top: 0;
      left: 24px;
      z-index: 1;
      height: 45px;
      font-size:(14/16)+em;
      color: $cl-real-white;
      background-color: $cl-sun-yellow;
      line-height: 14px;
      padding: 8px 8px 8px 25px;
      width: 181px;
      display: none;

    }
    
    span{

    }
  }



  .kl{

    .header-slider__menu-item.i-1{
      .menu-icon{
        @include bgsvg('services/kl-icon-1.svg');
      }
    }

    .header-slider__menu-item.i-2{
      .menu-icon{
        @include bgsvg('services/kl-icon-2.svg');
      }
    }

    .header-slider__menu-item.i-3{
      .menu-icon{
        @include bgsvg('services/kl-icon-3.svg');
      }
    }

    .header-slider__menu-item.i-4{
      .menu-icon{
        @include bgsvg('services/kl-icon-4.svg');
      }
    }

    .header-slider__menu-item.i-5{
      .menu-icon{
        @include bgsvg('services/kl-icon-5.svg');
      }
    }

    .header-slider__menu-item.i-6{
      .menu-icon{
        @include bgsvg('services/kl-icon-6.svg');
      }
    }

    .header-slider__menu-item.i-7{
      .menu-icon{
        @include bgsvg('services/kl-icon-7.svg');
      }
    }

    .header-slider__menu-item.i-8{
      .menu-icon{
        @include bgsvg('services/kl-icon-8.svg');
      }
    }

    .header-slider__menu-item.i-9{
      .menu-icon{
        @include bgsvg('services/kl-icon-9.svg');
      }
    }

  }


}
.menu-pictures{
  padding-bottom: 30px;


  &__items{
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between
  }

  &__img{
    width: 100%;
    max-width: 106px;
    min-width: 106px;
    display: block;
    margin: auto;
    margin-bottom:20px;
  }

  &__link{
    font-size: (18/16)+em;
    font-weight:bold;
    text-transform: uppercase;
    line-height: 1em;
  }
}
.our-clients{
  .columns{
    padding: 0;
  }

  &__title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__carousel{
    margin: 0;
    padding: 0 10px;
  }

  &__carousel-item{
    margin:0 15px;
    padding: 5px 0;

    img{
      margin: auto;
    }
  }

  .slick-prev,
  .slick-next{
    margin-top: 0;
  }

}


.block-price{
&__title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}  
}

.price-table {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 70px;

  &__title {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: (18/16)+em;
    line-height: (23/18)+em;
    color: $cl-moderate-orange-yellow;
  }

  tbody {
    border: none;
    tr {
      background-color: transparent !important;
    }
  }

  tr:nth-child(2){
    box-shadow: inset 0 -8px 0px -4px transparent;
  }

  .test {

  }
  &__param {
    padding: 88px 0 17px 0;
    width: 20%;
    font-size: (28/16)+em;
    background-position: left bottom;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-repeat: no-repeat;

  @media #{$media-tablet} {
    padding: 60px 0 17px 0;
    font-size: 1.6em;
  }

    strong {
      position: relative;
      left: -15%;
    }

    span {
      font-size: (18/30)+em;
      font-weight: bold;

      @media #{$media-tablet} {
        font-size: 0.6em;
      }
    }
  }

  &__param:nth-child(1) {
    background-image: url('../img/price/price-icon-1.svg');
    -webkit-background-size:73%;
    background-size:73%;

  }

  &__param:nth-child(2) {
    background-image: url('../img/price/price-icon-2.svg');
    -webkit-background-size:90%;
    background-size:93%;

    strong {
      left: -10%;
    }

  }

  &__param:nth-child(3) {
    background-image: url('../img/price/price-icon-3.svg');
    background-size: 61%;
    background-position: center bottom;

    strong{
      left: 0;
    }

  }

  &__param:nth-child(4) {
    background-image: url('../img/price/price-icon-4.svg');
    background-size: 77%;
    background-position: center bottom;

    strong{
      left:-7%;
    }

  }

  &__param:nth-child(5) {
    background-image: url('../img/price/price-icon-5.svg');
    background-position: right bottom;
    background-size: 88%;

    strong {
      left: 8%;
    }
  }

  &__price {
    font-size: (30/16)+em;
    span {
      position: relative;
      left: -14%;

      @media #{$media-tablet} {
        font-size: 0.9em;
      }
    }
  }

  &__price:nth-child(3){
    span{
      left: 0;
    }
  }

  &__price:nth-child(4){
    span{
      left: -7%;
    }
  }

  &__price:last-child {
    span {
      left: 0;
    }
  }
}
.search-bar{
  height: 30px;
  width: 217px;
  position: relative;
  margin: 21px auto;

  @media #{$media-tablet} {
    width: 80%;
    height: 28px;
  }

  &__input,
  &__input:focus{
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #d1d3d4;
    height: 30px;

    @media #{$media-tablet} {
      width: 80%;
      height: 28px;
    }

  }

  &__label{
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 6px;
    right: 8px;
    @include bgsvg('icon-search.svg');
    cursor: pointer;

    @media #{$media-tablet} {
      top: 5px;
    }

  }
}



.social{
  a{
    display: inline-block;
    width: 18px;
    height: 27px;
    @include bgsvg('icon-social-sprite.svg');
  }
}
.staff{
&__items{
  display: flex;
  justify-content: space-between;

}
  
  &__item{
    text-align: center;


  }
  
  &__name{
    display: block;
    font-size:(24/16)+em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 7px 0;
  }
  &__position{
    display: block;
    font-family: 'RobotoLight', sans-serif;
    font-size: 1em;
    color: $cl-motherblackberry;
    margin-bottom: 20px;
  }
}
.success-story{

  .columns{
    padding: 0;
  }

  &__title {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 30px;
  }

  &__carousel{
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    .slick-prev, .slick-next{
      top:35%;
    }
  }

  &__carousel-item{
    margin:0 15px;
    padding: 5px 0;

    img{
      width: 100%;
    }
  }

  &__carousel-item:nth-child(3n){

  }

  .small-text{
    width: 92%;
    padding:15px 0;
  }

}
.tab-menu{

  font-weight: bold;
  text-transform: uppercase;

  a{
    color: $cl-real-white;
  }

  &__items{
    margin:0;
  }

  .tab-menu__icon-per,
  .tab-menu__icon-comp{
    height: 65px;
    width: 100%;
    -webkit-background-size:38px auto;
    background-size: 38px auto;
    background-repeat: no-repeat;

  }

  .tab-menu__icon-per{
    background-position: center 28.68%;
  }

  .tab-menu__icon-comp{
    background-position: center 66.6%;
  }
  

  &__item{
    width: 49%;
    display: inline-block;
    text-align: center;
    position: relative;

    a{
      font-size:(12/16)+em;
      display: block;
      padding: 7px 8px;
      line-height:1.4em;
      background: $cl-pale-blue;
    }
  }
  &__item.active{
    @include cornerBottomWhite(7, -13);

    .tab-menu__icon-per{
      background-position: center -5%;
    }
    .tab-menu__icon-comp{
      background-position: center 106%;
    }

  }

  &__item:last-child{
    margin-left: 2%;
  }

  &__content{
    position: relative;
    margin-top:30px;
  }

  &__list{
    display: none;
    margin:0;
    text-align: center;
  }

  &__list-item{
    padding: 15px 0;
    border-bottom: 1px solid $cl-real-white;
    position: relative;
    @include cornerBottomWhite(7, -15);
    line-height: 1em;


    a{
      font-size:(14/16)+em;
      vertical-align: middle;
    }
  }


    &__list-item:last-child{
      border-bottom:none;
      &:after{
        display: none;
      }
    }
  

  &__content-item.no-scroller{
    display: none;
    
  }

  &__list.is-opened{
    display: block;
    z-index: 1;
  }

  &__content-item.no-scroller:target + .tab-menu__list{

      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }

  &__content-item.no-scroller:target + .tab-menu__list.is-opened{
      position: relative;
    }

  
}
.top-slider{

  .columns{
    padding: 0;
  }

  &__title {
    margin-top: 22px;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: (22/16)+em;
    line-height: 25px;
  }

  &__carousel{
    margin: 30px 0 0 0;
    padding: 0 10px;
    overflow: hidden;
    .slick-prev, .slick-next{
      top:40%;
    }
  }

  &__carousel-item{
    margin:0;
    padding: 5px 0;
    padding-top: 20px;
    width: 20%;
    display: inline-block;
    text-align: center;


    img{
      max-width: 200px;
      margin: auto;
      border: 8px solid transparent;
      border-radius: 50%;
    }
  }


}