
.about{

  &__title{
    text-align: center;
    margin-top:2.5rem;
    margin-bottom: 1.5625rem;
  }

  &__block-items{
    @include bord;
    padding: 2.5rem 1rem;
    position: relative;
    @include cornerTop;

    .columns {
      padding:5px;
    };

  }

  &__block-item{
    text-align: center;

  }

  &__block-item-counts{
    font-size: (74/16)+em;
    line-height: 1em;
    font-weight: bold;
    color: $cl-moderate-orange-yellow;
    display: block;

    &:after{
      content: '';
      height: 4.6875rem;
      width: 4.6875rem;
      background-image: url('../img/about/about-icon-sprite.svg');
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 100% auto;
      margin-left: 10px;

    }
  }

  #clean:after{
    background-position: 0 50%;

  }
  #review:after{
    background-position: 0 0;
  }
  #garbage:after{
    background-position: 0 99%;
  }

  &__block-item-description{
    text-transform: uppercase;
    font-weight: bold;

  }
}
.authorization {
  text-align: right;
  font-size: 95%;


  &__items{
    margin:0;
    padding: 0.6875rem 0;
  }

  &__item {
    display: inline-block;
    a {
      font-size: (14/16)+em;

      @media #{$media-phone}{
        font-size: 1.4em;
      }
    }

  }

  &__item:first-child {
    border-right: 1px solid transparent;
    a{
      margin-right: 18px;
    }
  }
  &__item:last-child {
    a{
      margin-left: 18px;
    }

  }
}
.block-address{
  padding-left: 1.25rem;

  &__item{
    margin-bottom:30px;
  }

  &__name,
  &__name-mail{
    font-weight: bold;
    font-size: (18/16)+em;
    text-transform: uppercase;
    line-height: 1em;
    margin-right:10px;
  }
  
  &__name{
    display: block;
    margin-bottom:10px;
  }

  &__item:nth-child(2){

    margin-bottom:20px;

    .block-address__name{
      display: inline-block;
    }
    
    a,
    a:hover{
      text-transform: none;
      color: $cl-black-brown;
      font-weight: normal;
    }
  }

  &__data{
    font-size: (18/16)+em;
    display: block;
    line-height: 1.3em;
  }
}
.block-bonus-icons{
  position: relative;
  padding: 10px 0;
  margin-bottom: 5px;

  &__items{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__img{
    width: 90px;
    height: 90px;
    background-image: url("../img/bonus/icon-sprite.svg");
    background-repeat: no-repeat;
    -webkit-background-size:100% auto;
    background-size:100% auto;
    margin:auto;

    @media #{$media-tablet} {
      width: 70px;
      height: 80px;
    }

     }

  &__item:nth-child(1) {
    .block-bonus-icons__img {
      background-position: center 47.4%;
    }
  }
  &__item:nth-child(2) {
    .block-bonus-icons__img {
      background-position: center 65.1%;
    }
  }
  &__item:nth-child(3) {
    .block-bonus-icons__img {
      background-position: center 82.85%;
    }
  }
  &__item:nth-child(4) {
    .block-bonus-icons__img {
      background-position: center 100.6%;
    }
  }


  &__name{
    display: block;
    font-weight: bold;
    font-size: (18/16)+em;
    color: $cl-moderate-orange-yellow;
    text-transform: uppercase;
    line-height: 1em;
    margin:10px 0;
  }

  &__score,
  &__num{
    display: block;
    font-weight: bold;
  }

  &__score{
    font-size: (18/16)+em;
    line-height: 1em;
  }

  &__num{
    font-size: (36/16)+em;
    line-height: 1.2em;
    font-family:'Arial Black', sans-serif;
  }

}
.block-bonus{
  position: relative;
  @include bord;
  @include cornerTop;
  padding: 70px 0 50px 0;
  margin-bottom: 3.75rem;

  &__items{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  &__img{
    width: 95px;
    height: 65px;
    background-image: url("../img/bonus/icon-sprite.svg");
    background-repeat: no-repeat;
    -webkit-background-size:95px auto;
    background-size:95px auto;
    margin:auto;
    margin-bottom: 20px;

     }

  &__item:nth-child(1) {
    .block-bonus__img {
      background-position: center 0;
    }
  }

    &__item:nth-child(2){
      .block-bonus__img{
        background-size:75px auto;
        background-position: center 15.6%;
      }

  }

  &__item:nth-child(3){
    .block-bonus__img{
      background-size:85px auto;
      background-position: center 30.9%;
    }

  }

  &__name{
    display: block;
    font-weight: bold;
    font-size: (21/16)+em;
    text-transform: uppercase;
    line-height: 1.3em;
  }
}
.block-detail-bigpic{
  &__pic{
    margin: 12px 0 25px 0;
  }

  &__img{
    width: 100%;
  }

  &__text{
    padding-bottom: 1rem;
    @include borB;
  }

  &__btn-wrap{
    text-align: center;
    @include borB;
    margin: 1.75rem 0;

    .btn-border-color{
      margin-bottom: 1.6875rem;
    }
  }
}
.block-detail-slider {
  @include borT;
  .columns {
    padding: 0;
  }

  &__carousel {
    margin: 0;
    padding: 1.875rem 1.25rem 0 1.25rem;
    overflow: hidden;
    .slick-prev, .slick-next {
      top: 34%;
    }
  }
//___color-arrows
  &__carousel.is-color-arrows {

    padding-bottom: 3.75rem;

    .slick-prev, .slick-next {
      top: 90%;
      &:before {
        width: 33px;
        height: 33px;
        color: $cl-real-white;
        font-weight: bold;
        background-image: none;
        opacity: 1;
        line-height: 33px;
        font-size: 1.5rem;
        font-family: 'FontAwesome', sans-serif;
      }
    }

    .slick-prev {
      left: 50%;
      margin-left: -23px;
      &:before {
        content: $fa-var-angle-left;
      }
    }

    .slick-next {
      right: 50%;
      margin-right: -23px;
      &:before {
        content: $fa-var-angle-right;
      }
    }

  }
//___color-arrows END

  &__carousel.is-border-b{
    padding-bottom: 1.875rem;
    @include borB;
  }

  &__carousel-item {
    margin: 0 5px;
    padding: 5px 0;

  }

  &__link {
    height: 160px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: left top;
    position: relative;

    @media #{$media-tablet} {
      height: 120px;
    }

    &:hover {
      @include bordOutline;

      .block-detail-slider__loupe {
        display: block;
      }
    }
  }

  &__loupe {
    @extend .loupe-color;
  }

  &__name {
    padding-top: 20px;
    font-size: (18/16)+em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
  }

  &__text {
    height: 120px;
    overflow: hidden;
  }

  .small-text {
    padding: 15px 0;

    p {
      margin: 0;
    }
  }

}

.block-gallery {
  &__title {
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
  }

  &__big-image {
    img {
      width: 100%;
    }
  }

  &__text {

  }

  &__picture {
    @include bordOutline;
    cursor: pointer;
    position: relative;
    margin-top: 30px;

    &:hover {
      .block-gallery__loupe {
        display: block;
      }
    }
    img {
      width: 100%;
    }
  }

  &__loupe {
    @extend .loupe-color

  }

}
.block-order{
  &__title{
    text-align: center;
    margin-top: 3.75rem;
    margin-bottom:1.875rem;
  }

  &__form-wrap{
    padding: 3.125rem 0;
    position: relative;
    background:  url('../img/bubble-white-icon.svg') no-repeat 22% 86%,
                 url('../img/bubble-white-icon-2.svg') no-repeat 84% 24%;
    background-size: 170px, 70px;

    @media #{$media-tablet}{
      background-position: 22% 86%, 86% 24%;
      background-size: 136px, 56px;

    }

    @media #{$media-phone-landscape}{
      background-position: 9% 86%, 98% 24%;
      background-size: 120px, 50px;
    }

  }

}
.block-payment{
  margin-top: 2.5rem;

  &__items{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-bottom: 1.5625rem;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item{
    margin: 0 1.2%;
    vertical-align: middle;

    img{
      height: 35px;
    }


    span{
      text-transform: uppercase;
      font-weight:bold;
      font-size: (14/16)+em;
      display: block;
    }
  }

  #paypal{
    img{
      height:27px;
    }
  }
  #mts{
    img{
      height:43px;
    }
  }

  #okpay{
    img {
      height:22px;
    }
  }

  #qiwi{
    img{
      height: 66px;
    }
  }

  #cash{

    img{
      margin-top: 24px;
      margin-bottom: 4px;
    }
  }


}
.block-products {

  .columns:first-child {
    padding-right: 30px;

    @media #{$media-phone-landscape} {
      padding-right: 15px;
    }
  }
  .columns:last-child {
    padding-left: 30px;

    @media #{$media-phone-landscape} {
      padding-left: 6px;
    }

  }

  &__item {
    padding: 30px 0;
    position: relative;

    &:nth-child(odd) {
      @include borT;
      @include borB;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 5px;
    }

  }
  &__img {
    width: 100%;
  }

  &__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: (24/16)+em;
    line-height: 1em;
  }

  &__price {
    position: absolute;
    bottom: 30px;

    strong {
      font-size: (18/16)+em;
      font-weight: bold;
      color: $cl-moderate-orange-yellow;
      margin-right: 15px;
    }
    span {
      font-size: (24/16)+em;
    }
  }
  &__btn {
    position: absolute;
    bottom: 30px;
    right: 0;

    @media #{$media-phone-landscape} {
      bottom: 15px;
    }
  }

  &__btn.left {
    right: auto;
  }

  &__btn.is-under-text {
    bottom: auto;

  }

  &__pic {
    position: relative;
    @include cornerRightWhite(12, 0);
    
    @media #{$media-phone-landscape} {
      margin-bottom: 12px;
    }
  }

  &__date {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $cl-real-white;
    font-size: (14/16)+em;
    padding: 3px 4px;
  }

  .small-text{
    @media #{$media-phone-landscape} {
      width: 95%;
    }
  }

}

.block-products.first {
  .block-products__item:first-child {
    padding-top: 15px;
    border-top: none;
  }
}
.block-social-page{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;


  &__title{
    text-transform: uppercase;
    font-size: (14/16)+em;
    font-weight: bold;
    margin-right: 7px;
    padding: 0 10px;
  }
  
  &__link{
    width: 93px;
    height: 33px;
    margin: 0 4px;
    display: inline-block;
    background-image: url('../img/social-page-icon-sprite.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 2px;
  }
  
  .-vk{
    background-position: center -7%;
    background-color: #426b9a;
  }

  .-facebook{
    background-position: center 29%;
    background-color: #4c68b3;
  }

  .-twitter{
    background-position: center 70%;
    background-color: #00abed;
  }

  .-odnoklassniki{
    background-position: center 105%;
    background-color: #ee8208;
  }

}
.block-social-top{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;


  &__title{
    text-transform: uppercase;
    font-size: (14/16)+em;
    font-weight: bold;
    margin-right: 7px;
    padding: 0 10px;
  }
  
  &__link{
    width: 1.875rem;
    height: 1.875rem;
    margin: 0 4px;
    display: inline-block;
    background-image: url('../img/icon-social-sprite-top.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    border-radius: 50%;
    background-size: 1.25rem;
  }
  
  .-vk{
    background-position: center 14.8%;
    @media #{$media-tablet} {
      background-position: center 3%;
    }
    @media #{$media-phone-landscape} {
      background-position: center -2%;
    }
  }

  .-facebook{
    background-position: center 28.5%;
    @media #{$media-tablet} {
      background-position: center 21%;
    }
    @media #{$media-phone-landscape} {
      background-position: center 18.5%;
    }
  }

  .-odnoklassniki{
    background-position: center 42.8%;
    @media #{$media-tablet} {
      background-position: center 40%;
    }

  }

  .-twitter{
    background-position: center 56.8%;
    @media #{$media-tablet} {
      background-position: center 60%;
    }
  }

  .-youtube{
    background-position: center 70.9%;
    @media #{$media-tablet} {
      background-position: center 78%;
    }
    @media #{$media-phone-landscape} {
      background-position: center 81%;
    }
  }

  .-instagram{
    background-position: center 85%;
    @media #{$media-tablet} {
      background-position: center 97%;
    }
    @media #{$media-phone-landscape} {
      background-position: center 102%;
    }
  }

}
.block-some-columns{
  .columns.first{
    padding-right:0;
    padding-left: 0.78125rem;
  }

  .columns.last{
    padding-left:0;
    padding-right: 0.78125rem;
  }
  .columns{
    padding-left: 1px;
    padding-right: 1px;
  }

  .columns.is-only-one:first-child{
    padding-right:1px;
    padding-left: 0.78125rem;
  }

  .columns.md{
    @media #{$media-phone-landscape} {
      padding: 0 0.625rem;;
    }
  }

  .columns.sm{
    @media #{$media-phone} {
      padding: 0 0.625rem;;
    }
  }

  &__title{
    position: relative;
    color: $cl-real-white;
    text-transform: uppercase;
    font-size:(14/16)+em;
    text-align: center;
    font-weight:bold;
    height: 3.125rem;
    line-height:1.3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.875rem;
    @include cornerBottomWhite(7, -14);

  }

  &__text{
    width: 90%;
  }
  
  &__link{
    text-align: center;
    margin: 1rem 0;
  }

  &__link-item{
    font-family: 'RobotoLight', sans-serif;
    text-decoration: none;
    border-bottom: 1px solid $cl-light-grey;
    font-size: (14/16)+em;

    &:hover{
      bottom: 1px solid transparent;
    }
  }

  &__big-title{
    margin-bottom: 1.875rem;
    h6{
      font-size: (18/16)+em;
      font-weight: bold;
    }
  }

  &__small-text{
    width: 70%;
    font-size: (14/16)+em;
    font-family: 'RobotoLight', sans-serif;
    color: $cl-motherblackberry;
  }

  .mark-list{
    margin-left:0;
    margin-bottom: 1.875rem;
  }

  &__btn{
    margin-top: 1.125rem;
  }
}
.block-subscribe-sidebar{
  margin-top: 80px;

  &__title{
    text-align: center;
    h3{
      font-size: 1em;
    }

  }

  &__form-wrap{
    padding: 15px 9px;
    @include bord;
    
    span{
      font-size: (62/16)+em;
      color: $cl-moderate-orange-yellow;
      font-weight:bold;
      display: block;
      width: 100%;
      text-align: center;
      line-height:1em;
    }

  }
}
.block-subscribe{
  margin-bottom: 5.625rem;

  &__title{
    text-align: center;
    margin-top: 4.375rem;
    margin-bottom: 1.5625rem
  }

  &__form-wrap{
    position: relative;
    @include bord;
    @include cornerTop;
    padding: 0 50px;
    
    span{
      font-size: (84/16)+em;
      color: $cl-moderate-orange-yellow;
      font-weight:bold;
      display: block;
      width: 100%;
      text-align: center;
    }

  }
}
.block-video{
  position: relative;
&__wrap {
  @include bg2('layout-2.png', no-repeat);
  position: relative;
  background-size: 100%;
  background-position: center bottom;
}

  &__item{
    max-width: 608px;
    margin:auto;

  }

  &__item-bg{
    position: absolute;
    max-width: 608px;
    height:400px;
    top: 0;
    
  }

  &__item:hover {

    .block-video__item-bg {
      display: none;
      -webkit-transition: all 2s ;
      -moz-transition: all 2s ;
      -ms-transition: all 2s ;
      -o-transition: all 2s ;
      transition: all 2s ;

    }

    .block-video__img{
      filter: none;
      -webkit-transition: all 0.3s ;
      -moz-transition: all 0.3s ;
      -ms-transition: all 0.3s ;
      -o-transition: all 0.3s ;
      transition: all 0.3s ;

    }
  }

  &__img{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }

}


.certificates{
  &__title{
    text-align: center;
    margin-top: 5rem;
  }

  &__carousel{
    text-align: center;
    position: relative;
    margin: 0 20px;
  }

  &__carousel-item{
    display: inline-block;
    margin: 27px 37px;
    outline: none;

    img{
      width: 100%;
    }
  }
}
.copyright{
  text-align: left;
  &__logo{
    max-width: 185px;
    margin: 30px 0 22px 0;
  }

  &__date {
    margin-bottom: 38px;
  }

  &__contacts{
    padding-left: 63px;
    @include bgsvg('icon-email.svg');
    background-size: inherit;
    cursor: pointer;
  }
  
  a{
    color: $cl-black-brown;
  }
}
.expirience{
  .columns{
    padding: 0;
  }

  &__title{
    text-align: center;
    margin-top:4.8125rem;
    margin-bottom: 2.75rem;
  }


  &__block-text{
    padding: 6% 19%;
    position: relative;
    @include bord;

    @media #{$media-tablet} {
      padding: 3% 10%;
    }

  }

  &__block-text.left{
    @include cornerRight;
  }

  &__block-text.right{
    @include cornerLeft;
  }


  &__block-text.left,
  &__block-text.right
  {
    &:before{
      display: none;
    }
  }

  &__block-text.left:hover,
  &__block-text.right:hover
  {
    &:before{
      display: block;
    }

  }

  &__block-text.left{
    &:after{
      right: -42px;
    }
  }

  &__block-text.left:hover{
    &:after{
      right: -31px;
    }
  }

  &__block-text.right{
    &:after{
      left: -42px;
    }
  }


  &__block-text.right:hover{
    &:after{
      left: -31px;
    }
  }


  &__block-pic{
    img{
      width: 100%;
    }
  }

  h3{
    color: $cl-moderate-orange-yellow;
    text-transform: uppercase;
    font-size: (18/16)+em;
  }


}
.footer-certificates{
  text-align: right;
  &__items{
    margin: 18px 0;
  }

  &__item{
    display: inline-block;
    margin-left: 10px;
  }
}

.footer-contacts{
  @extend  .top-contacts__phone;

  nobr{
    font-size:(24/16)+em;
  }
}
.footer-main-menu {
  text-align: center;
  font-size: (14/16)+em;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 45px;
  }

  &__items {
    margin: 0;
  }
  &__item {
    text-align: center;

    a {
      font-family: 'RobotoLight', sans-serif;
      text-decoration: none;
      color: $cl-black-brown;
      padding: 0 9px;
      display: inline-block;
      border: 4px solid transparent;

    }
  }

  &__items.menu-ft {
    width: 80%;
    margin: auto;
  }


  &__link{
    text-transform: uppercase;
    
    &:hover{
      color: $cl-black-brown;
    }
    
    &:before{
      content: '';
      width: 42px;
      height:40px;
      @include bgsvg('icon-present.svg');
      display: block;
      margin: auto;
    }
  }

  .button-m{
    float: right;
    margin: 25px 0;
  }

}

.header-slider{

  &__title{
    text-align: center;
    position: absolute;
    margin-top: 15px;
    width: 90%;
    left: 5%;
    z-index:1;

    h1{
      line-height: 1.1em;
    }
  }


  &__checkbox-wrap{
    width: 95%;
    margin: auto;
    text-align: center;
    margin-top:16px;
  }
  
  &__items{
    max-width: 1560px;
    margin:auto;
    overflow: hidden;

  }

  &__item{
    width: 100%;
    margin: auto;
    display: none;
    position: relative;

    @media (max-width: 1280px){
      width: 100%;
      overflow: hidden;
    }

    img{
      width: 100%;
      overflow: hidden;


      @media (max-width: 1280px){

      }
    }

  }

  &__item.active{
    display: block;
  }

  .menu-icons{
    width: 2.8125rem;
    height: 2.8125rem;
    position: relative;
    z-index: 2;

  }

  &__menu-item{
    position: absolute;
    max-width: 201px;
    cursor: pointer;

    a{
      position: absolute;
      top: 0;
      left: 24px;
      z-index: 1;
      height: 2.8125rem;
      font-size:(14/16)+em;
      color: $cl-real-white;
      line-height:1em;
      padding-left: 1.5625rem;
      background-color: $cl-sun-yellow;
      width: 11.3125rem;
      visibility: hidden;
      display: table;

    }
    
    span{
      display: table-cell;
      vertical-align: middle;
    }
  }



  .kl{

    .header-slider__menu-item.i-1{
      .menu-icons{
        @include bgsvg('services/kl-icon-1.svg');
      }
    }

    .header-slider__menu-item.i-2{
      .menu-icons{
        @include bgsvg('services/kl-icon-2.svg');
      }
    }

    .header-slider__menu-item.i-3{
      .menu-icons{
        @include bgsvg('services/kl-icon-3.svg');
      }
    }

    .header-slider__menu-item.i-4{
      .menu-icons{
        @include bgsvg('services/kl-icon-4.svg');
      }
    }

    .header-slider__menu-item.i-5{
      .menu-icons{
        @include bgsvg('services/kl-icon-5.svg');
      }
    }

    .header-slider__menu-item.i-6{
      .menu-icons{
        @include bgsvg('services/kl-icon-6.svg');
      }
    }

    .header-slider__menu-item.i-7{
      .menu-icons{
        @include bgsvg('services/kl-icon-7.svg');
      }
    }

    .header-slider__menu-item.i-8{
      .menu-icons{
        @include bgsvg('services/kl-icon-8.svg');
      }
    }

    .header-slider__menu-item.i-9{
      .menu-icons{
        @include bgsvg('services/kl-icon-9.svg');
      }
    }

  }


}
.menu-pictures{
  padding-bottom: 30px;


  &__items{
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between
  }

  &__img{
    width: 100%;
    max-width: 106px;
    min-width: 106px;
    display: block;
    margin: auto;
    margin-bottom:20px;
  }

  &__link{
    font-size: (18/16)+em;
    font-weight:bold;
    text-transform: uppercase;
    line-height: 1em;
  }
}
.mobile-menu{
  position: absolute;
  background: white;
  z-index: 4;
  width: 100%;
  border-bottom: 1px solid transparent;
  top:2.9375rem;
  left: -3000px;
  transition: left 0.7s;

  &__item > a{
    text-transform: uppercase;
    font-size: (24/16)+em;
    line-height: 3.5rem;
    margin-right: 1rem;
    padding-top: 3px;
    border-top: 6px solid transparent;
    transition: border-top 0.2s;
    vertical-align: middle;
  }

  &__item > span{
    cursor: pointer;
    display: inline-block;
    line-height: 3.5rem;
    vertical-align: middle;
  }

  &__item.active > span{
    transform: rotate(90deg);
    transition: transform 0.3s;
  }


  &__item.active > .mobile-menu__items-second-lvl{
    height:100%;
    transform: scaleY(1);
  }

  &__item.is-parent > span:after{
    content: $fa-var-angle-right;
    font-family: "FontAwesome", sans-serif;
    font-size: (32/16)+em;
    margin-left: 8px;
  }

  &__items-second-lvl{
    height:0;
    margin-left: 2.25rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease;
  }

  &__item-second-lvl
  {
    padding: 4px 20px;

    a{
      color: $cl-real-white;
      font-size:1.4em;
      text-transform: none;
    }
  }

  .close-button-m{
    right: 10px;
  }
}

.mobile-menu.is-opened{
  @media #{$media-phone} {
    left:0;
  }
}
.our-clients{
  .columns{
    padding: 0;
  }

  &__title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__carousel{
    margin: 0;
    padding: 0 10px;
  }

  &__carousel-item{
    margin:0 15px;
    padding: 5px 0;

    img{
      margin: auto;
    }
  }

  .slick-prev,
  .slick-next{
    margin-top: 0;
  }

}


.price-big-table {
  font-size: (14/16)+em;
  text-align: left;
  margin: 1.875rem 0;

  &__table{
    border-collapse: separate;
  }

  &__head-name{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }


  &__head:nth-child(2) {
    height: 6.4375rem;
    @include bg("price-big-table-layer.png", 100%, center bottom, no-repeat);
    text-transform: uppercase;
    color: $cl-real-white;
    line-height: 1em;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    padding-bottom: 0.75rem;

  }

  &__name {
    color: $cl-real-white;
    border-bottom: 1px solid $cl-real-white;
    font-weight: normal;
    padding: 0.5rem 0.875rem;
  }

  &__data {
    border-bottom: 1px solid transparent;
    font-weight: normal;
    padding: 0.5rem 0.875rem;
  }

  &__data:last-child{
    border-right: 3px solid transparent;
  }

  &__data:nth-child(2){
    border-left: 3px solid transparent;
  }

  &__row:nth-child(2){
    .price-big-table__data{
      border-top: 3px solid transparent;
    }
  }

  &__row:last-child{
    .price-big-table__data,
    .price-big-table__name{
      border-bottom: 3px solid transparent;
    }
  }
  
}
.block-price{
&__title{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}  
}

.price-table {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 70px;

  &__title {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: (18/16)+em;
    line-height: (23/18)+em;
    color: $cl-moderate-orange-yellow;
  }

  tbody {
    border: none;
    tr {
      background-color: transparent !important;
    }
  }

  tr:nth-child(2){
    box-shadow: inset 0 -8px 0px -4px transparent;
  }

  .test {

  }
  &__param {
    padding: 88px 0 17px 0;
    width: 20%;
    font-size: (28/16)+em;
    background-position: left bottom;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-repeat: no-repeat;

  @media #{$media-tablet} {
    padding: 60px 0 17px 0;
    font-size: 1.6em;
  }

    strong {
      position: relative;
      left: -15%;
    }

    span {
      font-size: (18/30)+em;
      font-weight: bold;

      @media #{$media-tablet} {
        font-size: 0.6em;
      }
    }
  }

  &__param:nth-child(1) {
    background-image: url('../img/price/price-icon-1.svg');
    -webkit-background-size:73%;
    background-size:73%;

  }

  &__param:nth-child(2) {
    background-image: url('../img/price/price-icon-2.svg');
    -webkit-background-size:90%;
    background-size:93%;

    strong {
      left: -10%;
    }

  }

  &__param:nth-child(3) {
    background-image: url('../img/price/price-icon-3.svg');
    background-size: 61%;
    background-position: center bottom;

    strong{
      left: 0;
    }

  }

  &__param:nth-child(4) {
    background-image: url('../img/price/price-icon-4.svg');
    background-size: 77%;
    background-position: center bottom;

    strong{
      left:-7%;
    }

  }

  &__param:nth-child(5) {
    background-image: url('../img/price/price-icon-5.svg');
    background-position: right bottom;
    background-size: 88%;

    strong {
      left: 8%;
    }
  }

  &__price {
    font-size: (30/16)+em;
    span {
      position: relative;
      left: -14%;

      @media #{$media-tablet} {
        font-size: 0.9em;
      }
    }
  }

  &__price:nth-child(3){
    span{
      left: 0;
    }
  }

  &__price:nth-child(4){
    span{
      left: -7%;
    }
  }

  &__price:last-child {
    span {
      left: 0;
    }
  }
}
.search-bar{
  width: 217px;
  position: relative;
  margin:1.0625rem auto;
  padding: 0.625rem 0;


  &__input,
  &__input:focus{
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #d1d3d4;
    height: 1.875rem;
    margin: 0;


  }

  &__label{
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    @include bgsvg('icon-search.svg');
    cursor: pointer;

  }
}



.simple-table {

  &__table{
    table-layout: fixed;
  }

  &__name {
    text-align: center;
    margin: 0 0.625rem 1.875rem 0.625rem;
  }

  &__scores {
    color: $cl-moderate-orange-yellow;
    font-weight: bold;
    font-size: (18/16)+em;
  }

  &__head-name {
    color: $cl-real-white;
    text-transform: uppercase;
    padding: 1.25rem;
    border-right: 2px solid white;
    border-left: 2px solid white;
  }

  &__head-name:first-child{
    border-left: none;
  }
  &__head-name:last-child{
    border-right: none;
  }

  &__data,
  &__data-scores {
    text-align: center;
    padding: 0.875rem 0.625rem;
    font-size: (14/16)+em;
    @include borR;
  }

  &__data-scores{
    font-weight: bold;
  }

  &__row{
    .simple-table__data:first-child{
      @include borL;
    }
  }

  &__row:last-child{
    @include borB;
  }


}
.social{
  a{
    display: inline-block;
    width: 18px;
    height: 27px;
    @include bgsvg('icon-social-sprite.svg');
  }
}
.staff{

  .columns{
    padding: 0;
  }

&__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
  
  &__item{
    text-align: center;
    flex-basis: 26%;

    img{
      border-radius:50%;
      @include bord;
    }

  }
  
  &__name{
    display: block;
    font-size:(24/16)+em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    margin: 12px 0 4px 0;
  }
  &__position{
    display: block;
    font-family: 'RobotoLight', sans-serif;
    font-size: 1em;
    color: $cl-motherblackberry;
    margin-bottom: 20px;
  }
}
.success-story{

  .columns{
    padding: 0;
  }

  &__title {
    text-align: center;
    margin-top: 2.375rem;
    margin-bottom: 1.875rem;
  }

  &__carousel{
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
    .slick-prev, .slick-next{
      top:35%;
    }
  }

  &__carousel-item{
    margin:0 15px;
    padding: 5px 0;

    img{
      width: 100%;
    }
  }

  &__carousel-item:nth-child(3n){

  }

  .small-text{
    width: 92%;
    padding:15px 0;
  }

}
.tab-menu{

  font-weight: bold;
  text-transform: uppercase;

  a{
    color: $cl-real-white;
  }

  &__items{
    margin:0;
  }

  .tab-menu__icon-per,
  .tab-menu__icon-comp{
    height: 65px;
    width: 100%;
    -webkit-background-size:38px auto;
    background-size: 38px auto;
    background-repeat: no-repeat;

  }

  .tab-menu__icon-per{
    background-position: center 28.68%;
  }

  .tab-menu__icon-comp{
    background-position: center 66.6%;
  }
  

  &__item{
    width: 49%;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: top;

    a{
      font-size:(12/16)+em;
      display: table-cell;
      padding: 7px 8px;
      line-height:1.4em;
      background: $cl-pale-blue;
      vertical-align: middle;
      height: 40px;

      @media #{$media-phone} {
        display: block;
        height: auto;
      }
    }
  }
  &__item.active{
    @include cornerBottomWhite(7, -13);

    .tab-menu__icon-per{
      background-position: center -5%;
    }
    .tab-menu__icon-comp{
      background-position: center 106%;
    }

  }

  &__item:last-child{
    margin-left: 2%;
  }

  &__content{
    position: relative;
    margin-top:30px;
  }

  &__list{
    display: none;
    margin:0;
    text-align: center;
  }

  &__list-item{
    padding: 15px 0;
    border-bottom: 1px solid $cl-real-white;
    position: relative;
    @include cornerBottomWhite(7, -15);
    line-height: 1em;


    a{
      font-size:(14/16)+em;
      vertical-align: middle;
    }
  }


    &__list-item:last-child{
      border-bottom:none;
      &:after{
        display: none;
      }
    }
  

  &__content-item.no-scroller{
    display: none;
    
  }

  &__list.is-opened{
    display: block;
    z-index: 1;
  }

  &__content-item.no-scroller:target + .tab-menu__list{

      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }

  &__content-item.no-scroller:target + .tab-menu__list.is-opened{
      position: relative;
    }

  
}
.top-menu {
  border-top: 1px solid;
  border-bottom: 1px solid;
  position: relative;

  &__items{
    display: flex;
    justify-content: space-between;
    margin: 0;

    @media #{$media-phone} {
      display: none;
    }
  }

  .top-menu__item > a{
    text-transform: uppercase;
    line-height: 2.9375rem;
    display: block;
    float: left;
    position: relative;
  }

  .top-menu__item > span{
    line-height: 2.9375rem;
  }
  
  &__item {
    position: relative;

  }

  &__item:hover > ul{
    display: block;
  }

  &__item:hover > a{
    box-shadow: inset 0 0.375rem 0 0 transparent;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -ms-transition: box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
  }

  &__item.is-parent > span:after{
      content: $fa-var-angle-down;
      font-family: "FontAwesome", sans-serif;
      margin-left: 8px;
    }

  &__item.is-parent:hover > a {
        @include cornerBottomWhite(8, -15);
  }

  &__item.is-parent:hover > span:after {
    color: transparent;
  }



  &__items-second-lvl{
    position: absolute;
    margin: 0;
    min-width: 8.125rem;
    z-index: 2;
    text-align: center;
    display: none;
  }

  &__item-second-lvl
  {
    padding: 0.625rem;

    a{
      color: $cl-real-white;
      font-size:(12/16)+em;
      text-transform: none;
    }
  }


  &__item:first-child {
    a {
      padding-left: 0;

    }
  }
}
.top-slider{

  .columns{
    padding: 0;
  }

  &__title {
    margin-top: 22px;
    margin-bottom: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: (22/16)+em;
    line-height: 25px;
  }

  &__carousel{
    margin: 30px 0 0 0;
    padding: 0 10px;
    overflow: hidden;
    .slick-prev, .slick-next{
      top:40%;
    }
  }

  &__carousel-item{
    margin:0;
    padding: 5px 0;
    padding-top: 20px;
    width: 20%;
    display: inline-block;
    text-align: center;


    img{
      max-width: 200px;
      margin: auto;
      @include bord;
      border-radius: 50%;
    }
  }


}