.breadcrumbs{
  height: 65px;
  margin: 0 0 2rem 0;
  position: relative;

&__items{
  margin: 0;
  position: absolute;
  bottom: 0;
  line-height:1em;
}
  
  &__item{

    a{
      font-family: 'RobotoLight', sans-serif;
      color: $cl-black-brown;
      text-transform: none;

    }
    a:hover{
      color: $cl-black-brown;
    }
  }

  li:not(:last-child)::after{
    content: '|';
    top: -2px;
    color: $cl-black-brown;
  }

}
.button-menu-lines{
  width: 43px;
  padding: 5px;
  margin:0;
  cursor: pointer;
  display: none;

  @media #{$media-phone} {
    display: block;
  }

  &__line{
    height: 2px;
    background: $cl-real-white;
    margin: 0 0 4px 0;
    width: 25px;
    position: relative;
  }

  &__line:nth-child(even){
    width: 20px;
  }
}

.button-menu-lines.is-close{
  padding: 8px;

  .button-menu-lines__line{
  transition: all 0.3s;
  }

  .button-menu-lines__line:nth-child(even){
    display: none;
  }

  .button-menu-lines__line:nth-child(1){
    top: 6px;
    transform: rotate(45deg);
  }
  .button-menu-lines__line:nth-child(3){
    transform: rotate(-45deg);
  }
}
.button-m{
  display: inline-block;
  font-size: (14/16)+em;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-weight:bold;
  padding: 3.5px 9px;
  border: 4px solid $cl-moderate-orange-yellow;
  color: $cl-moderate-orange-yellow;

  
  &:hover{
    background-color: $cl-moderate-orange-yellow;
    color: $cl-real-white;
  }
}

.btn-color{
  @extend .button-m;
  background-color: $cl-moderate-orange-yellow;
  color: $cl-real-white;

  &:hover{
    background-color: $cl-real-white;
    color: $cl-moderate-orange-yellow;
  }

}

.btn-border-color{
  @extend .button-m;

}

.btn-border-color-thin{
  @extend .button-m;
  border: 1px solid $cl-moderate-orange-yellow;
  text-transform: none;
  font-weight:normal;
  width:auto;

  &:hover{
    background-color: $cl-real-white;
    color: $cl-moderate-orange-yellow;
  }

}

.button-play{
  position: absolute;
  padding: 35px;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
  cursor: pointer;
  @include bgsvg('video-icon-play.svg')
}

.btn-full-size{
  @extend .button-m;
  font-size: (18/16)+em;
  line-height:1em;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin:0;
}

.btn-full-size.is-corner-b{
  position: relative;

  @include cornerBottomWhite(10, -23);

}

.close-button-m{
  display: inline-block;
  position: absolute;
  &:after{
    content: 'x';
    font-family:'RobotoLight', sans-serif;
    font-size: 26px;
  }
}



.custom-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

label[for="custom-checkbox"]{
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
}

.custom-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.custom-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.custom-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 42px;
  height: 22px;
  border-radius: 18px;
  /*background: #CDD1DA;*/

}

.custom-checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 3px;
  margin-right: 4px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background: $cl-real-white;
  transition: all .2s;
}

.custom-checkbox:checked + label:before {
  //background: color;
}

.custom-checkbox:checked + label:after {
  left: 23px;
}

.custom-checkbox:focus + label:before {
}
.form-standart{
  width: 50%;
  margin:auto;

  @media #{$media-phone-landscape}{
    width: 60%;
  }

  input[type='textarea'],
  input[type='text']{
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 1.5rem;
    margin: 0 0 0 0.7rem;

  }

  input[type='submit']{
    border-radius: none;
  }

  input[type='textarea']{
    width: 100%;
    height: 8.75rem;

  }

  input:focus{
    .form-standart__label{
      display: none;
    }
  }

  &__field{
    position: relative;
  }

  &__field:nth-child(1),
  &__field:nth-child(2){
    display: inline-block;
    width: 47%;
  }

  &__field:nth-child(1){
    margin-right:6%;
  }

  &__field:nth-child(3){
    margin-top: 1rem;
  }

  &__field:last-child{
    text-align: center;
  }

  &__label{
    font-family: 'RobotoLight', sans-serif;
    position: absolute;
    top:0;
    color: $cl-motherblackberry;
    width: 100%;
    padding: 6px 0 0 25px;
    font-size: (18/16)+em;

  }

  .btn-color{
    padding: 8px 20px;
    margin-top: 2.5rem;
  }
}
.form-subscribe-sidebar {

  @extend .form-standart;
  margin-top:10px;
  width: 100%;

  .form-standart {
   &__field{
     width: 100%;
     margin-right: 0;
     margin-bottom: 14px;

     input[type='textarea'],
     input[type='text'] {
       border: 1px solid transparent;
       margin: 0;
       padding: 0 25px;
     }

     input[type='submit']{
       margin:2px 0;
     }
   }

    &__field:last-child{
      margin:0;
    }

    &__label{
      font-size: 1em;
    }

  }
}
.form-subscribe {
  @extend .form-standart;
  margin-left: 30px;

  .form-standart {

   &__field{
     input[type='textarea'],
     input[type='text'] {
       border: 1px solid transparent;
     }
   }

    &__field:nth-child(1),
    &__field:nth-child(2),
    &__field:nth-child(3) {
      display: inline-block;
      width: 28%;
    }

    &__field:nth-child(1),
    &__field:nth-child(2) {
      display: inline-block;
      width: 38%;
      margin-right: 4%;
      margin-bottom: 27px;
    }

    &__field:nth-child(3) {
      width: 15%;
    }

  }
}
.loupe{
  width:25px;
  height: 25px;
  margin: 15px auto;
  cursor: pointer;
}

.loupe-color{
  width: 40px;
  height: 40px;
  position: absolute;
  background: transparent url("../img/loupe-white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 60%;
  background-size: 60%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}

.pagination-m {
  margin:1rem 0;

  &__items {
    margin: 0;
    font-size: (18/16)+em;

    @media #{$media-phone-landscape} {
      display: flex;
      justify-content: center;
    }
  }

  &__num,
  &__previous,
  &__next {
    display: inline-block;
    cursor: pointer;
    padding: 7px 11px;
    font-weight: bold;

    a{
      padding: 5px
    }
  }

  &__previous,
  &__next{
    color: $cl-real-white;
    background-color: transparent;
    padding: 7px 14px;
    min-width: 85px;

    a,
    a:hover{
      color: $cl-real-white;
    }

  }

  &__previous{
    margin-right: 27px;

    &:before{
      content: $fa-var-angle-double-left;
      font-family: 'FontAwesome', sans-serif;
    }
  }

  &__next{
    margin-left: 27px;

    &:after{
      content: $fa-var-angle-double-right;
      font-family: 'FontAwesome', sans-serif;
    }
  }


  &__num{
    background-color: $cl-gainsborough;
    color: $cl-grafit-black;
    margin: 0 2.5px;

    @media #{$media-phone-landscape} {
      display: none;
    }

    &:hover{
      outline: 3px solid transparent;
      outline-offset: -3px;
      background-color: $cl-real-white;
      color: transparent;
    }
  }

  &__num.is-current{
    background-color: transparent;
    color: $cl-real-white;

    span{
      padding:5px;

    }
    span:hover{
      color: $cl-real-white;
    }

  }

}


