@import "_mixins";



.block-price{
  &__button-wrap{
    text-align: center;

    .btn-border-color-thin{
      width:166px;
      padding: 7px;
    }
  }

}



.footer-height {
  width: 100%;
  height: 55px;

  &__menu {
    margin: 0;
  }

  &__menu-item {
    display: inline-block;
    text-align: center;
    width: 16.6%;

    a {
      line-height: 55px;
      color: $cl-real-white;
      font-size: (14/16)+em;
    }

  }
}
@import "_mixins";

.top-height {
  width: 100%;
  height: 3.125rem;

  &__menu {
    margin: 0;
    margin-left: -1.25rem;
    
  }

  &__menu-item {
    display: inline-block;
    padding: 0 0.625rem;
    line-height: 3.125rem;
    height: 3.125rem;

    @media #{$media-phone} {
      padding: 0 0.25rem;
    }



    &:before{
      content: '';
      @include bgsvg('/header/top-icons-sprite.svg');
      -webkit-background-size: 1.4375rem auto;
      background-size: 1.4375rem auto;
      height: 3.125rem;
      width: 1.4375rem;
      display: inline-block;
      margin-right: 0.625rem;
      vertical-align: middle;
    }

    a {
      font-family: 'Arial', sans-serif;
      font-weight:bold;
      color: $cl-real-white;

      @media #{$media-phone} {
        font-size: 0.8em;
      }


    }

  }


  #clining:before {
    background-position: 0px -6%;
  }

  #desinfekciya:before {
    background-position: 0px 31.6%;
  }

  #expertizy:before {
    background-position: 0px 68%;
  }

  #ventilyaciya:before {
    background-position: 0px 110%;
  }

}


.top-contacts{

  &__btn-wrap{
    position: relative;
    width: 100%;
    height: 72px;
  }

  &__phone {
    display: inline-block;
    float: right;
    margin-left: 20px;
    text-align: right;
    padding:5px 0;

    nobr {
      font-size: (24/16)+em;
      font-weight: bold;
      display: block;
      color: $cl-black-brown;
    }

    nobr:before {
      content: '';
      display: inline-block;
      height: 22px;
      width: 21px;
      @include bgsvg('/icon-phone.svg');
      margin-right: 10px;
      position: relative;
      top: 5px;
    }

    a {
      color: $cl-black-brown;
      text-decoration: none;
      border-bottom: 1px solid $cl-light-grey;
      display: inline-block;
      font-size: (14/16)+em;
    }

    a:hover {
      border-bottom: 1px solid transparent;
      -webkit-transition: border-bottom 0.2s;
      -moz-transition: border-bottom 0.2s;
      -ms-transition: border-bottom 0.2s;
      -o-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
    }

  }

  .button-m {
    position: absolute;
    top: 50%;
    right: 260px;
    margin-top: -14px;
    min-width: 165px;

    @media #{$media-tablet} {
      right:65%;
      min-width: 130px;
    }
  }

  &__logo{
    max-width: 240px;
    margin: 0;
    padding: 0.625rem 0;

    img{
      height:2.25rem
    }
  }
}




.sidebar{
  padding-right: 1.5625rem;

  @media #{$media-phone} {
    padding-right:initial;
  }
}