

*{
  padding:0;
  margin:0;
}

html{
  font-family: 'FontAwesome', serif;
}

body{
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: $cl-black-brown;

  @media #{$media-tablet} {
    font-size: 12px;
  }

}

ul li{
  list-style-type: none;
}

h1{
  font-family: 'Arial Black', sans-serif;
}


h2,
h3{
  font-family:'Arial', sans-serif;
}

h1,
h2,
h3{
  font-weight: bold;
  text-transform: uppercase;
}

h2{
  line-height: 1.1em;

  @media #{$media-tablet}{
    font-size: 1.875em;
  }
}

a{
  outline: 0;
  color: $cl-black-brown;

  &:hover{
    color: $cl-black-brown;
  }
}

input{
  outline: 0;
}

.container{
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
}

.two-columns{
  column-count: 2;
  -webkit-column-gap:2rem;
  -moz-column-gap:2rem;
  column-gap: 2rem;

  .small-text{
    padding:0;
  }
}

.small-text{
  font-family: 'RobotoLight', sans-serif;
  font-size:(18/16)+em;
  color: $cl-motherblackberry;
  padding: 12px 0;
  p{
    line-height: 1.4em;
  }

}

div {
  box-sizing: border-box;
}

.main-content__title{
  h1{
    font-family: 'Arial', sans-serif;
    font-size: 45px;
    font-weight: bold;
  }
}
