
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'FontAwesome', serif;
}

html, body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: $cl-black-brown;

  @media #{$media-tablet} {
    font-size: 12px;
  }

  @media #{$media-phone-landscape} {
    font-size: 10px;
  }

}

ul li {
  list-style-type: none;
}

h1 {
  font-family: 'Arial Black', sans-serif;
}

h2,
h3 {
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
  text-transform: uppercase;
}

h5{
  font-size: (18/16)+em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  line-height: 1.1em;

  @media #{$media-tablet}{
    font-size: 1.875em;
  }
}

a {
  outline: 0;
  color: $cl-black-brown;

  &:hover {
    color: $cl-black-brown;
  }
}

input {
  outline: 0;
}

.container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
}

.two-columns {
  column-count: 2;
  column-gap: 2rem;

  @media #{$media-phone-landscape} {
    column-count: 1;
  }

  .small-text {
    padding: 0;
  }
}

.small-text {
  font-family: 'RobotoLight', sans-serif;
  font-size: (18/16)+em;
  color: $cl-motherblackberry;
  padding: 12px 0;
  p {
    line-height: 1.4em;
  }

}

.small-text.first {
  padding-top: 0;

}

div {
  box-sizing: border-box;
}

.main-content__title {
  h1, h2 {
    font-family: 'Arial', sans-serif;
    font-size: (45/16)+em;
    font-weight: bold;
    margin-bottom: 37px;
    line-height: 1em;

    @media #{$media-tablet} {
      margin-bottom: 18px;
    }
  }

  h2{
    margin-top: 2.5rem;
  }
}

.centered{
  text-align: center;
}

.is-border-b{
  @include borB;
}

.yandex-map{

  @media #{$media-phone-landscape} {
    margin-bottom: 20px;
  }
}

table thead,
table tbody,
table tfoot{
  border: none;
}
table tbody tr:nth-child(even) {
  background: none;
}

.small-description{
  margin-bottom: 1.875rem ;
}

.block-empty-height{
  height: 3.125rem;
}

ul.mark-list{

 li:before{
   content: $fa-var-circle;
   font-family: 'FontAwesome', sans-serif;
   font-size: 0.375rem;
   margin-right: 0.3175rem;
   vertical-align: middle;
 }
}
