.about-company-wrap{


  .block-detail-slider{
    border-top: none;
    @include borB();

    &__carousel{
      padding-bottom: 30px;
    }
  }
}
.block-address-wrap {
  margin-bottom: 2.1875rem;
  padding-bottom: 2.1875rem;
  @media #{$media-phone-landscape} {
    padding-bottom: 0;
  }

  .small-text {
    font-size: (16/16)+em;
    padding-bottom:0;
  }

  h5 {
    width: 70%;
    line-height: 1.3em;
    margin-bottom: 0;
  }

}

.block-address-wrap:last-child {
  margin-bottom:0;
  padding-bottom:0;
}

.block-address-wrap:not(:last-child) {
  @include borB;
}
.cleaning-room-wrap{
  margin-top: 3.75rem;
  margin-bottom:2.5rem;
}
.jobs-wrap{
  .columns{
    position: relative;
    margin-bottom: 2.5rem;
  }

  .block-some-columns__btn{
    position: absolute;
    bottom:0;
  }
}
.search-bar-wrap{
  height:4rem;
  padding: 1em 0;
}