.footer-height {
  width: 100%;
  height: 55px;

  &__menu {
    margin: 0;
  }

  &__menu-item {
    display: inline-block;
    text-align: center;
    width: 16.6%;

    a {
      line-height: 55px;
      color: $cl-real-white;
    }

  }
}