.footer-height {
  width: 100%;


  &__menu {
    margin: 0;
    height: 3.4365rem;
      display: flex;
      align-content: center;
      align-items: center;

  }

  &__menu-item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 16.6%;
    height: 3.4365rem;
    line-height:1.2em;

    @media #{$media-phone-landscape} {
      width: 100%;
      display: inline;

    }

    a {
      height: 3.4365rem;
      display: table-cell;
      vertical-align: middle;
      color: $cl-real-white;
      width: 50%;

    }

  }
}