doctype html
html
    include ../../includes/head
    include ../../templates/sea
body
    include ../../blocks/header
    .row
        .columns.medium-12
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Личный кабинет
                    li.breadcrumbs__item
                        a(href='/index.html') Бонусные баллы

    .row
        .columns.large-12
            .main-content__title.centered
                h1 Бонусные баллы
    .row
        .columns.medium-12
            .simple-table
                .simple-table__name
                    h5 Накоплено бонусных баллов: 
                        span.simple-table__scores 75
                table.simple-table__table
                    tr.simple-table__main-row
                        th.simple-table__head-name Добавлено
                        th.simple-table__head-name Описание
                        th.simple-table__head-name Бонусные баллы
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Отзыв об услуге
                        td.simple-table__data-scores 5
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Репост в социальных сетях
                        td.simple-table__data-scores 10
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Видео отзыв
                        td.simple-table__data-scores 15
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Привел друга
                        td.simple-table__data-scores 5
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Постоянный покупатель
                        td.simple-table__data-scores 10
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Отзыв об услуге
                        td.simple-table__data-scores 5
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Репост в социальных сетях
                        td.simple-table__data-scores 10
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Видео отзыв
                        td.simple-table__data-scores 15
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Привел друга
                        td.simple-table__data-scores 5
                    tr.simple-table__row
                        td.simple-table__data 05.04.2016
                        td.simple-table__data Постоянный покупатель
                        td.simple-table__data-scores 10





    include ../../blocks/footer



    include ../../includes/footer




