doctype html
html
    include ../../includes/head
    include ../../templates/sea
body
    include ../../blocks/header
    .row
        .columns.medium-3.small-4
            .sidebar
                include ../../blocks/tab-menu
                include ../../blocks/block-subscribe-sidebar
        .columns.medium-9.small-8
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') О компании
            .row
                .columns.large-12
                    .main-content__title
                        h1 Истории успеха

            section.block-products
                .block-products__item
                    .row
                        .columns.medium-6
                                .block-products__pic
                                    img.block-products__img(src='../img/products/pic-1.png')
                                    span.block-products__date 12.07.2016
                        .columns.medium-6
                                .block-products__description
                                    .block-products__text
                                        .small-text.first
                                            p Lorem ipsum dolor sit amet, consectetur
                                                |adipiscing elit. Aenean euismod bibendum
                                                |laoreet. Proin gravida dolor sit amet lacus
                                                |accumsan et viverra justo commodo
                                    .block-products__btn.left.is-under-text
                                        .btn-border-color-thin Читать далее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                                span.block-products__date 12.07.2016
                        .columns.medium-6
                            .block-products__description
                                .block-products__text
                                    .small-text.first
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left.is-under-text
                                    .btn-border-color-thin Читать далее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                                span.block-products__date 12.07.2016
                        .columns.medium-6
                            .block-products__description
                                .block-products__text
                                    .small-text.first
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left.is-under-text
                                    .btn-border-color-thin Читать далее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                                span.block-products__date 12.07.2016
                        .columns.medium-6
                            .block-products__description
                                .block-products__text
                                    .small-text.first
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left.is-under-text
                                    .btn-border-color-thin Читать далее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                                span.block-products__date 12.07.2016
                        .columns.medium-6
                            .block-products__description
                                .block-products__text
                                    .small-text.first
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left.is-under-text
                                    .btn-border-color-thin Читать далее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                                span.block-products__date 12.07.2016
                        .columns.medium-6
                            .block-products__description
                                .block-products__text
                                    .small-text.first
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left.is-under-text
                                    .btn-border-color-thin Читать далее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                                span.block-products__date 12.07.2016
                        .columns.medium-6
                            .block-products__description
                                .block-products__text
                                    .small-text.first
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left.is-under-text
                                    .btn-border-color-thin Читать далее


            .row
                .columns.large-9.large-offset-3
                    include ../../blocks/pagination


    include ../../blocks/footer



    include ../../includes/footer




