doctype html
html
    include layout/includes/head.jade
body
    include layout/header.jade
    include layout/content.jade
    include layout/footer.jade



    include layout/includes/footer.jade




