doctype html
html
    include ../includes/head
body
    include ../header
    .row
        .columns.medium-3.small-4
            .sidebar
                include ../tab-menu.jade
                include ../block-subscribe-sidebar.jade
        .columns.medium-9.small-8
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') О компании
            .row
                .columns.large-12
                    .main-content__title
                        h1 О компании
            .row
                .columns.large-12
                    .two-columns
                        .small-text
                            p Несколько лет назад слово «клининг» было мало кому известно, а сегодня каждый знает, что оно означает профессиональную уборку помещений разного типа,
                                |будь то дом, квартира, коттедж, офис и так далее. Вот и мы, когда задумывали открыть свой бизнес, решили остановиться именно на этом благом деле, приносящем людям
                                |огромную пользу, освобождающем их от хлопот по уборке жилища. Клининговая компания «О, Чисто!» действует сравнительно недавно, но уже успела зарекомендовать себя с
                                |самой лучшей стороны. У нас есть постоянные клиенты, которые доверяют нам. Их число постоянно растёт.
                            p Мы осуществляем профессиональную уборку не только в Москве, но и в Московской области. Мобильные бригады прибудут на место в удобное для вас время и выполнят ваш заказ
                                |качественно и в сжатый срок.
                            p Именно качество исполнения, приемлемые цены, аккуратность и исполнительность работников, а у нас трудятся в основном граждане Российской Федерации, интересуют клиентов
                                |при выборе клининговой компании. Все вышеперечисленные показатели вы найдёте у нас. При приёме на работу мы ведём строгий отбор кадров, случайных людей у нас нет.
            .about-company-wrap
                section.block-detail-slider <!--обрезание текста предполагается серверное-->
                    .row
                        .columns.medium-12
                            ul.block-detail-slider__carousel.is-nodots.is-border-bottom
                                li.block-detail-slider__carousel-item
                                    a.swipebox.block-detail-slider__link(href='../img/portfolio/pic-6.png', style='background-image: url(../img/portfolio/pic-6.png)')
                                        .block-detail-slider__loupe
                                li.block-detail-slider__carousel-item
                                    a.swipebox.block-detail-slider__link(href='../img/portfolio/pic-7.png', style='background-image: url(../img/portfolio/pic-7.png)')
                                        .block-detail-slider__loupe
                                li.block-detail-slider__carousel-item
                                    a.swipebox.block-detail-slider__link(href='../img/portfolio/pic-8.png', style='background-image: url(../img/portfolio/pic-8.png)')
                                        .block-detail-slider__loupe
            .row
                .columns.large-12
                    .main-content__title
                        h2 Комплексное обслуживание

            .row
                .columns.large-12
                    .two-columns
                        .small-text
                            p Несколько лет назад слово «клининг» было мало кому известно, а сегодня каждый знает, что оно означает профессиональную уборку помещений разного типа,
                                | будь то дом, квартира, коттедж, офис и так далее. Вот и мы, когда задумывали открыть свой бизнес, решили остановиться именно на этом благом деле, приносящем людям
                                | огромную пользу, освобождающем их от хлопот по уборке жилища. Клининговая компания «О, Чисто!» действует сравнительно недавно, но уже успела зарекомендовать себя с
                                | самой лучшей стороны. У нас есть постоянные клиенты, которые доверяют нам. Их число постоянно растёт.
                            p Мы осуществляем профессиональную уборку не только в Москве, но и в Московской области. Мобильные бригады прибудут на место в удобное для вас время и выполнят ваш заказ
                                | качественно и в сжатый срок.
                            p Именно качество исполнения, приемлемые цены, аккуратность и исполнительность работников, а у нас трудятся в основном граждане Российской Федерации, интересуют клиентов
                                | при выборе клининговой компании. Все вышеперечисленные показатели вы найдёте у нас. При приёме на работу мы ведём строгий отбор кадров, случайных людей у нас нет.
            .about-company-wrap
                section.block-detail-slider <!--обрезание текста предполагается серверное-->
                    .row
                        .columns.medium-12
                            ul.block-detail-slider__carousel.is-nodots.is-border-bottom
                                li.block-detail-slider__carousel-item
                                    a.swipebox.block-detail-slider__link(href='../img/portfolio/pic-6.png', style='background-image: url(../img/portfolio/pic-6.png)')
                                        .block-detail-slider__loupe
                                li.block-detail-slider__carousel-item
                                    a.swipebox.block-detail-slider__link(href='../img/portfolio/pic-7.png', style='background-image: url(../img/portfolio/pic-7.png)')
                                        .block-detail-slider__loupe
                                li.block-detail-slider__carousel-item
                                    a.swipebox.block-detail-slider__link(href='../img/portfolio/pic-8.png', style='background-image: url(../img/portfolio/pic-8.png)')
                                        .block-detail-slider__loupe
            .row
                .columns.large-12
                    .main-content__title
                        h2 Фото сотрудников
            include ../staff







    include ../footer



    include ../includes/footer




