doctype html
html
    include ../includes/head
body
    include ../header
    .row
        .columns.medium-12
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Личный кабинет
                    li.breadcrumbs__item
                        a(href='/index.html') Изменить контактную информацию

    .row
        .columns.large-12
            .main-content__title.centered
                h1 Изменить контактную информацию

    .row
        .columns.large-12
            .tab-menu-page
                ul.tab-menu-page__items
                    li.tab-menu-page__item.active
                        .tab-menu-page__icon-per
                        a(href='#persons-page') Физическим лицам
                    li.tab-menu-page__item
                        .tab-menu-page__icon-comp
                        a(href='#companies-page') Юридическим лицам
                .tab-menu-page__content
                    .tab-menu-page__content-item.no-scroller(id='persons-page')
                    ul.tab-menu-page__list.is-opened.two-columns
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка снега
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка квартир
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка частных домов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка территории
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка коттеджей
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка таунхаусов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка после ремонта
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка мусора
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка кладбищ и могил
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка снега
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка квартир
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка частных домов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка территории
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка коттеджей
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка таунхаусов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка после ремонта
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка мусора
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка кладбищ и могил


                    .tab-menu-page__content-item.no-scroller(id='companies-page')
                    ul.tab-menu-page__list.two-columns
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис снега
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис квартир
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис частных домов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис территории
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис коттеджей
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис таунхаусов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис после ремонта
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис мусора
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис кладбищ и могил
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис снега
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис квартир
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис частных домов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис территории
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис коттеджей
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис таунхаусов
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис после ремонта
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис мусора
                        li.tab-menu-page__list-item
                            a.tab-menu-page__link(href='') Уборка офис кладбищ и могил



    include ../footer



    include ../includes/footer




