doctype html
html
    include ../includes/head
body
    include ../blocks/header
    .row
        .columns.medium-12
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Личный кабинет
                    li.breadcrumbs__item
                        a(href='/index.html') Изменить подписку

    .row
        .columns.small-6.small-centered
            .main-content__title.centered
                h1 Изменить подписку

    include ../blocks/change-sub.jade
    include ../blocks/footer



    include ../includes/footer




