doctype html
html
    include ../includes/head
body
    include ../header
    .row
        .columns.medium-3.small-4
            .sidebar
                include ../tab-menu.jade
                include ../block-subscribe-sidebar.jade
        .columns.medium-9.small-8
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Программа лояльности

            .row
                .columns.large-12
                    .main-content__title
                        h1 Программа лояльности

            section.block-detail-bigpic
                    .row
                        .columns.large-12
                            .block-detail-bigpic__pic
                                img.block-detail-bigpic__img(src='../img/portfolio/big-pic-1.png',alt='')
                            .block-detail-bigpic__text.two-columns
                                .small-text
                                    p Несколько лет назад слово &laquo;клининг&raquo; было мало кому известно, а&nbsp;сегодня каждый знает, что оно означает профессиональную уборку помещений разного типа, будь&nbsp;то дом, квартира, коттедж, офис и&nbsp;так далее. Вот и&nbsp;мы, когда задумывали открыть свой бизнес, решили остановиться именно на&nbsp;этом благом деле, приносящем людям огромную пользу, освобождающем их&nbsp;от&nbsp;хлопот по&nbsp;уборке жилища. Клининговая компания &laquo;О, Чисто!&raquo; действует сравнительно недавно, но&nbsp;уже успела зарекомендовать себя с&nbsp;самой лучшей стороны. У&nbsp;нас есть постоянные клиенты, которые доверяют нам. Их&nbsp;число постоянно растёт.

                                    P Мы&nbsp;осуществляем профессиональную уборку не&nbsp;только в&nbsp;Москве, но&nbsp;и&nbsp;в&nbsp;Московской области. Мобильные бригады прибудут на&nbsp;место в&nbsp;удобное для вас время и&nbsp;выполнят ваш заказ качественно и&nbsp;в&nbsp;сжатый срок.

                                    p Именно качество исполнения, приемлемые цены, аккуратность и&nbsp;исполнительность работников, а&nbsp;у&nbsp;нас трудятся в&nbsp;основном граждане Российской Федерации, интересуют клиентов при выборе клининговой компании. Все вышеперечисленные показатели вы&nbsp;найдёте у&nbsp;нас. При приёме на&nbsp;работу мы&nbsp;ведём строгий отбор кадров, случайных людей у&nbsp;нас нет.

            .row
                .columns.large-12
                    .main-content__title
                        h2 Начисление балов
            .row
                .columns.large-12
                    .block-bonus
                        .block-bonus__items
                            .block-bonus__item
                                .block-bonus__img
                                span.block-bonus__name Баллы постоянным #[br]покупателям
                            .block-bonus__item
                                .block-bonus__img
                                span.block-bonus__name Баллы за #[br]видео отзыв
                            .block-bonus__item
                                .block-bonus__img
                                span.block-bonus__name Баллы за #[br]репост в соцсетях
            section.block-some-columns(data-col-class='medium')
                .row
                    .columns.md
                        .block-some-columns__title
                            span Как получить баллы
                        .block-some-columns__text
                            .small-text
                                p Lorem ipsum dolor sit amet,
                                    |consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                    |pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    |felis tellus mollis orci, sed rhoncus sapien nunc eget odio
                    .columns.md
                        .block-some-columns__title
                            span Как узнать, #[br]какая у меня скидка
                        .block-some-columns__text
                            .small-text
                                p Lorem ipsum dolor sit amet,
                                    | consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                    | pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    | felis tellus mollis orci, sed rhoncus sapien nunc eget odio
                    .columns.md
                        .block-some-columns__title
                            span Как применить #[br]свою скидку
                        .block-some-columns__text
                            .small-text
                                p Lorem ipsum dolor sit amet,
                                    | consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                                    | pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    | felis tellus mollis orci, sed rhoncus sapien nunc eget odio
            .row
                .columns.large-12
                    .main-content__title
                        h2 За что начисляют #[br]бонусные баллы
            .row
                .columns.large-12
                    .block-bonus-icons
                        .block-bonus-icons__items
                            .block-bonus-icons__item
                                .block-bonus-icons__img
                                span.block-bonus-icons__name Отзыв об услуге
                                span.block-bonus-icons__num 10
                                span.block-bonus-icons__score баллов
                            .block-bonus-icons__item
                                .block-bonus-icons__img
                                span.block-bonus-icons__name Рупост в соц. сетях
                                span.block-bonus-icons__num 5
                                span.block-bonus-icons__score баллов
                            .block-bonus-icons__item
                                .block-bonus-icons__img
                                span.block-bonus-icons__name Видео отзыв
                                span.block-bonus-icons__num 15
                                span.block-bonus-icons__score баллов
                            .block-bonus-icons__item
                                .block-bonus-icons__img
                                span.block-bonus-icons__name Постоянный клиент
                                span.block-bonus-icons__num 5
                                span.block-bonus-icons__score баллов


    include ../footer



    include ../includes/footer




