doctype html
html
    include ../includes/head
body
    include ../blocks/header
    .row
        .columns.medium-3.small-4
            .sidebar
                include ../blocks/tab-menu.jade
                include ../blocks/block-subscribe-sidebar.jade
        .columns.medium-9.small-8
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Отзывы

            .row
                .columns.large-12
                    .main-content__title
                        h1 Отзывы

            .row
                .columns.small-12
                    include ../blocks/review.jade

                    .reveal.modal-custom.round(id='balls' data-reveal)
                        include ../modal-widows/balls.jade
                        button.btn-close-modal(data-close aria-label="Close modal" type="button")
                    .reveal.modal-custom(id='upload-video' data-reveal)
                        include ../modal-widows/upload-video.jade
                        button.close-button-m(data-close aria-label="Close modal" type="button")

            .row
                .columns.small-12
                    include ../blocks/block-reviews.jade

    include ../blocks/footer



    include ../includes/footer




