doctype html
html
    include ../includes/head
body
    include ../header
    .row
        .columns.medium-3
            include ../tab-menu.jade
            include ../block-subscribe-sidebar.jade
        .columns.medium-9


    include ../footer



    include ../includes/footer




