doctype html
html
    include ../includes/head
body
    include ../header
    .row
        .columns.medium-3
            .sidebar
                include ../tab-menu.jade
                include ../block-subscribe-sidebar.jade
        .columns.medium-9
            include ../breadcrumbs.jade
            .row
                .columns.large-12
                    .main-content__title
                        h1 Услуги
            .row
                .columns.large-12
                    .menu-pictures
                        ul.menu-pictures__items
                            li.menu-pictures__item
                                img(class='menu-pictures__img',src='../img/services/kl-icon-4.svg')
                                a(class='menu-pictures__link',href='#') Уборка
                            li.menu-pictures__item
                                img(class='menu-pictures__img',src='../img/services/kl-icon-5.svg')
                                a(class='menu-pictures__link', href='#') Мойка #[br]окон и фасадов
                            li.menu-pictures__item
                                img(class='menu-pictures__img',src='../img/services/kl-icon-1.svg')
                                a(class='menu-pictures__link', href='#') Химчистка
                            li.menu-pictures__item
                                img(class='menu-pictures__img',src='../img/services/kl-icon-7.svg')
                                a(class='menu-pictures__link', href='#') Шлифовка

            section.block-products
                .block-products__item
                    .row
                        .columns.large-6
                                .block-products__pic
                                    img.block-products__img(src='../img/products/pic-1.png')
                        .columns.large-6
                                .block-products__description
                                    .block-products__name
                                        a.block-products__link(href='#') Уборка
                                    .block-products__text
                                        .small-text
                                            p Lorem ipsum dolor sit amet, consectetur
                                                |adipiscing elit. Aenean euismod bibendum
                                                |laoreet. Proin gravida dolor sit amet lacus
                                                |accumsan et viverra justo commodo
                                    .block-products__price
                                        strong Цена от
                                        span 3 900 Р
                                    .block-products__btn
                                        .btn-border-color Заказать
                .block-products__item
                    .row
                        .columns.large-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                        .columns.large-6
                            .block-products__description
                                .block-products__name
                                    a.block-products__link(href='#') Мойка окон и фасадов
                                .block-products__text
                                    .small-text
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__price
                                    strong Цена от
                                    span 3 900 Р
                                .block-products__btn
                                    .btn-border-color Заказать
                .block-products__item
                    .row
                        .columns.large-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                        .columns.large-6
                            .block-products__description
                                .block-products__name
                                    a.block-products__link(href='#') Химчистка
                                .block-products__text
                                    .small-text
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__price
                                    strong Цена от
                                    span 3 900 Р
                                .block-products__btn
                                    .btn-border-color Заказать
                .block-products__item
                    .row
                        .columns.large-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                        .columns.large-6
                            .block-products__description
                                .block-products__name
                                    a.block-products__link(href='#') Шлифовка и полировка
                                .block-products__text
                                    .small-text
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__price
                                    strong Цена от
                                    span 3 900 Р
                                .block-products__btn
                                    .btn-border-color Заказать

            .row
                .columns.large-9.large-offset-3
                    include ../pagination.jade

    include ../block-order.jade
    include ../footer



    include ../includes/footer




