.bind-account
    .bind-account__title
        span Связать свой профиль с профилями в социальных сетях и сервисах
    .bind-account__links
        a.bind-account__link.-vk(href='', title='')
        a.bind-account__link.-facebook(href='', title='')
        a.bind-account__link.-odnoklassniki(href='', title='')
        a.bind-account__link.-twitter(href='', title='')
        a.bind-account__link.-youtube(href='', title='')
        a.bind-account__link.-instagram(href='', title='')



