.row
    .columns.medium-12
        .block-order__form-wrap
                .form-standart.form-color
                    form
                        .form-standart__fields-list
                            .form-standart__field
                                .form-standart__label Ваше имя:
                                .form-standart__item
                                    input.inputtext(type='text', name='')
                            .form-standart__field
                                .form-standart__label Ваш телефон:
                                .form-standart__item
                                    input.inputtext(type='text', name='')
                            .form-standart__field
                                .form-standart__label Комментарий:
                                .form-standart__item
                                    input.inputtextarea(type='textarea', name='')
                            .form-standart__field
                                .form-standart__item
                                    input.btn-color(type='submit', name='', value='Отправить')

