.block-subscribe-sidebar
    .block-subscribe-sidebar__form-wrap
                .block-subscribe-sidebar__title
                    h3  Подпишись и получай #[br]скидки на почту!
                span %
                .form-standart.form-subscribe-sidebar
                    form
                        .form-standart__fields-list
                            .form-standart__field
                                .form-standart__label Ваше имя:
                                .form-standart__item
                                    input.inputtext(type='text', name='')
                            .form-standart__field
                                .form-standart__label Ваш E-Mail:
                                .form-standart__item
                                    input.inputtext(type='text', name='')
                            .form-standart__field
                                .form-standart__item
                                    input.btn-color(type='submit', name='', value='Отправить' )
         

