.block-address
    .block-address__item
        strong.block-address__name Адрес:
        span.block-address__data г. Москва, ул. Складочная, д. 1, стр. 33
    .block-address__item
        .block-address__name
            strong.block-address__name E-mail:
            a.block-address__mail(href="mailto:tamara@romashki.ru") tamara@romashki.ru
    .block-address__item
        strong.block-address__name Контактные телефоны:
        span.block-address__data +7 (499) 350-41-56
        span.block-address__data +7 (495) 777-75-26

