.block-reviews
    .block-reviews__items
        .block-reviews__client-item
            .block-reviews__item-pic
                img.block-reviews__img(src='../img/reviews/pic-1.png', alt='')
                span.block-reviews__name Владимир
                span.block-reviews__date 12.07.2017
            .block-reviews__item-review
                .block-reviews__contents
                    strong.block-reviews__title Понравилось
                    .block-reviews__text
                        p Впечатления поле посещения моей квартиры сотрудницы Клининговой
                            |компании "Домовенок" у меня остались в основном положительные, но свои нюансы                              есть.
                            |Одним из положительных моментов для меня было то, что можно заказать сразу ...

        .block-reviews__admin-item
            .block-reviews__item-review
                .block-reviews__contents
                    strong.block-reviews__title Спасибо!
                    .block-reviews__text
                        p Мы ответим вам на все вопросы, если у вас они будут после нашего сотрудничества...
            .block-reviews__item-pic
                img.block-reviews__img(src='../img/reviews/pic-5.png', alt='')
                span.block-reviews__name Admin Sergei
                span.block-reviews__date 12.07.2015

        .block-reviews__client-item
            .block-reviews__item-pic
                img.block-reviews__img(src='../img/reviews/pic-2.png', alt='')
                span.block-reviews__name Светлана
                span.block-reviews__date 12.07.2017
            .block-reviews__item-review
                include block-stars.jade
                .block-reviews__contents
                    strong.block-reviews__title Понравилось
                    .block-reviews__text
                        p Впечатления поле посещения моей квартиры сотрудницы Клининговой
                            | компании "Домовенок" у меня остались в основном положительные, но свои нюансы                              есть.
                            | Одним из положительных моментов для меня было то, что можно заказать сразу ...

        .block-reviews__client-item
            .block-reviews__item-pic
                img.block-reviews__img(src='../img/reviews/pic-3.png', alt='')
                span.block-reviews__name Дмитрий
                span.block-reviews__date 12.07.2017
            .block-reviews__item-review
                include block-stars.jade
                .block-reviews__contents
                    strong.block-reviews__title Понравилось
                    .block-reviews__text
                        p Впечатления поле посещения моей квартиры сотрудницы Клининговой
                            | компании "Домовенок" у меня остались в основном положительные, но свои нюансы                              есть.
                            | Одним из положительных моментов для меня было то, что можно заказать сразу ...

        .block-reviews__client-item
            .block-reviews__item-pic
                img.block-reviews__img(src='../img/reviews/pic-4.png', alt='')
                span.block-reviews__name Юлия
                span.block-reviews__date 12.07.2017
            .block-reviews__item-review
                include block-stars.jade
                .block-reviews__contents
                    strong.block-reviews__title Понравилось
                    .block-reviews__text
                        p Впечатления поле посещения моей квартиры сотрудницы Клининговой
                            | компании "Домовенок" у меня остались в основном положительные, но свои нюансы                              есть.
                            | Одним из положительных моментов для меня было то, что можно заказать сразу ...