section.block-video
    .row
        .columns.large-12
            .block-video__item
                a.swipebox(rel="vimeo", href="http://vimeo.com/29193046")
                    img.block-video__img(src='../img/video/video-pic.png',alt='')
                .block-video__item-bg
                .button-play

