section.certificates-page
    .row
        .columns.large-12
            .certificates-page__items
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-1.png')
                        img( src="../img/certificates/pic-1.png", alt="")
                    .loupe
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-2.png')
                        img( src="../img/certificates/pic-2.png", alt="")
                    .loupe
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-3.png')
                        img( src="../img/certificates/pic-3.png", alt="")
                    .loupe
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-4.png')
                        img( src="../img/certificates/pic-4.png", alt="")
                    .loupe
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-1.png')
                        img( src="../img/certificates/pic-1.png", alt="")
                    .loupe
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-2.png')
                        img( src="../img/certificates/pic-2.png", alt="")
                    .loupe
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-3.png')
                        img( src="../img/certificates/pic-3.png", alt="")
                    .loupe
                .certificates-page__item
                    a.certificates-page__item.swipebox(href='../img/certificates/pic-4.png')
                        img( src="../img/certificates/pic-4.png", alt="")
                    .loupe