.row
    .columns.medium-12
        .change-sub-wrap
            .form-standart__title
                h4 Подписаться на рассылку
            .form-standart.form-change-sub.form-color
                form
                    .form-standart__fields-list
                        .form-standart__field
                            .form-standart__label Ваш email #[span *]
                            .form-standart__item
                                input.inputtext(type='text', name='')
                        .form-standart__field
                            .form-standart__label-checkbox Формат писем
                            .form-standart__item
                                input.inputcheckbox(type='checkbox', name='', id='answer-1')
                                label.inputcheckbox-label(for='answer-1') Текст
                                input.inputcheckbox(type='checkbox', name='', id='answer-2')
                                label.inputcheckbox-label(for='answer-2') HTML
                        .form-standart__title
                            h4 Рубрики
                        .form-standart__field
                            .form-standart__item
                                input.inputcheckbox(type='checkbox', name='', id='answer-3')
                                label.inputcheckbox-label(for='answer-3') Новости компании
                                label.inputcheckbox-comment Ежедневная рассылка новостей
                        .form-standart__field
                            .form-standart__item
                                input.inputcheckbox(type='checkbox', name='', id='answer-4')
                                label.inputcheckbox-label(for='answer-4') Новости компании
                                label.inputcheckbox-comment Ежедневная рассылка новостей
                        .form-standart__field
                            .form-standart__item
                                input.inputcheckbox(type='checkbox', name='', id='answer-5')
                                label.inputcheckbox-label(for='answer-5') Новости компании
                                label.inputcheckbox-comment Ежедневная рассылка новостей
                        .form-standart__field
                            .form-standart__item
                                input.inputcheckbox(type='checkbox', name='', id='answer-6')
                                label.inputcheckbox-label(for='answer-6') Новости компании
                                label.inputcheckbox-comment Ежедневная рассылка новостей
                        .form-standart__comment
                            span После подписики Вам будет выслано письмо со ссылкой подтверждения.
                        .form-standart__field
                            .form-standart__label
                            .form-standart__item
                                input.btn-color(type="submit" name="" value='Сохранить')
