section.top-slider
    .row
        .columns.medium-12
            ul.top-slider__carousel
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-1.png')
                        img( src="img/top-slider/pic-1.png", alt="")
                    .top-slider__title Уборка #[br]снега
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-2.png')
                        img( src="img/top-slider/pic-2.png", alt="")
                    .top-slider__title Уборка #[br]квартир
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-3.png')
                        img( src="img/top-slider/pic-3.png", alt="")
                    .top-slider__title Уборка #[br]частных домов
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-4.png')
                        img( src="img/top-slider/pic-4.png", alt="")
                    .top-slider__title Уборка #[br]коттеджей
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-5.png')
                        img( src="img/top-slider/pic-5.png", alt="")
                    .top-slider__title Уборка #[br]после пожара
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-1.png')
                        img( src="img/top-slider/pic-1.png", alt="")
                    .top-slider__title Уборка #[br]снега
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-2.png')
                        img( src="img/top-slider/pic-2.png", alt="")
                    .top-slider__title Уборка #[br]квартир
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-3.png')
                        img( src="img/top-slider/pic-3.png", alt="")
                    .top-slider__title Уборка #[br]частных домов
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-4.png')
                        img( src="img/top-slider/pic-4.png", alt="")
                    .top-slider__title Уборка #[br]коттеджей
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='img/top-slider/pic-5.png')
                        img( src="img/top-slider/pic-5.png", alt="")
                    .top-slider__title Уборка #[br]после пожара
                    .btn-border-color Заказать

section.about
    .row
        .columns.medium-12
            .about__title
                h2 О нас в цифрах
            .about__block-items
                .row
                    .column.medium-4
                        .about__block-item
                            span.about__block-item-counts(id='clean') 50 000
                            span.about__block-item-description Отчищенных до блеска
                    .column.medium-4
                        .about__block-item
                            span.about__block-item-counts(id='review') 500
                            span.about__block-item-description Положительных отзывов
                    .column.medium-4
                        .about__block-item
                            span.about__block-item-counts(id='garbage') 100
                            span.about__block-item-description Тонн убранного муссора

section.block-gallery
    .row
        .columns.medium-12
            .block-gallery__big-image
                img(src='img/_layout-1.png')
    .row
        .columns.medium-12
            .block-gallery__title
                h2 Уборка квартир после ремонта в Москве <br> - залог чистоты и Вашего здоровья!
    .row
        .columns.medium-12
            .block-gallery__text.small-text.two-columns
              p Не сомневайтесь, качественный и комплексный клининг —
                |это работа для квалифицированного профессионала: каждый
                |из его этапов он может выполнить на высочайшем уровне. Специалистами выполняется плановая, генеральная или                  послестроительная уборка дома, коттеджей или офисных помещений Москвы в краткие сроки и согласно программе                      производственного контроля.
              p В процессе работы сотрудники «Партнер Ромашка» используют оборудование, которое непрофессионалу довольно сложно достать — эта техника позволяет добиться более эффектного
                |и эффективного результата. Программа производственного контроля в Москве предусматривает избавление помещений
                |от грызунов и насекомых, обслуживание климатической техники.
    .row
        .columns.medium-offset-6
        .columns.medium-6
            .btn-border-color-thin Читать далее
    .row
        .columns.medium-4
            .block-gallery__picture
                img(alt='', src='img/gallery/pic-1.png')
        .columns.medium-4
                img(alt='', src='img/gallery/pic-2.png')
        .columns.medium-4
                img(alt='', src='img/gallery/pic-2.png')


section.block-price
    .row
        .columns.medium-5.medium-centered
            .block-gallery__title
                h2 Послестроительная уборка


    .row
        .columns.medium-12.two-columns
            .block-price__text.small-text
                p Не сомневайтесь, качественный и комплексный клининг —
                    |это работа для квалифицированного профессионала: каждый
                    |из его этапов он может выполнить на высочайшем уровне. Специалистами выполняется плановая, генеральная или                  послестроительная уборка дома, коттеджей или офисных помещений Москвы в краткие сроки и согласно программе                      производственного контроля.
                p В процессе работы сотрудники «Партнер Ромашка» используют оборудование, которое непрофессионалу довольно сложно достать — эта техника позволяет добиться более эффектного
                    |и эффективного результата. Программа производственного контроля в Москве предусматривает избавление помещений
                    |от грызунов и насекомых, обслуживание климатической техники.
    .row
        .columns.medium-3.medium-centered
            .block-price__button-wrap
                .btn-border-color-thin Читать далее

    .row
        .columns.medium-12
            table.price-table(collapse='collapse')
                tr
                    td.price-table__title(colspan="5") Площадь помещения, М²
                tr
                    td.price-table__param
                        strong до 40 #[span М²]
                    td.price-table__param
                        strong до 41-50 #[span М²]
                    td.price-table__param
                        strong 51-60 #[span М²]
                    td.price-table__param
                        strong 61-70 #[span М²]
                    td.price-table__param
                        strong 71-80 #[span М²]
                tr
                    td.price-table__price
                        span 3 900 Р
                    td.price-table__price
                        span 4 900 Р
                    td.price-table__price
                        span 5 800 Р
                    td.price-table__price
                        span 6 300 Р
                    td.price-table__price
                        span 6 900 Р
                tr
                    td.price-table__title(colspan="5") Стоимость, руб


section.block-video
    .row
        .columns.medium-12
            .block-video__wrap
                .block-video__item
                    a.swipebox-video.swipebox(rel="vimeo", href="http://vimeo.com/29193046")
                        img.block-video__img(src='img/video/video-pic.png',alt='')
                    .block-video__item-bg
                    .button-play

section.expirience
    .row
        .columns.medium-12
            .expirience__title
                h2 Опыт работы и портфолио
    .row.one-height
        .columns.medium-6
            .expirience__block-text.s-height.left
                h3 Заголовок текста
                .small-text
                    p Lorem ipsum dolor sit amet, consectetur
                    |adipiscing elit. Aenean euismod bibendum
                    |laoreet. Proin gravida dolor sit amet lacus
                    |accumsan et viverra justo commodo
                .btn-border-color-thin Подробнее

        .columns.medium-6
            .expirience__block-pic.g-height
                img(alt='', src='img/portfolio/pic-1.png')
    .row.one-height
        .columns.medium-6
            .expirience__block-pic.g-height
                img(alt='', src='img/portfolio/pic-2.png')
        .columns.medium-6
            .expirience__block-text.s-height.right
                h3 Заголовок текста
                .small-text
                    p Lorem ipsum dolor sit amet, consectetur
                    | adipiscing elit. Aenean euismod bibendum
                    | laoreet. Proin gravida dolor sit amet lacus
                    | accumsan et viverra justo commodo
                .btn-border-color-thin Подробнее

    .row.one-height
        .columns.medium-6
            .expirience__block-text.s-height.left
                h3 Заголовок текста
                .small-text
                    p Lorem ipsum dolor sit amet, consectetur
                    | adipiscing elit. Aenean euismod bibendum
                    | laoreet. Proin gravida dolor sit amet lacus
                    | accumsan et viverra justo commodo
                .btn-border-color-thin Подробнее
        .columns.medium-6
            .expirience__block-pic.g-height
                img(alt='', src='img/portfolio/pic-1.png')
    .row
        .columns.medium-12
            .btn-full-size Подробнее

section.certificates
    .row
        .columns.medium-12
            .certificates__title
                h2 Сертификаты, Дипломы, Награды
    .row
        .columns.medium-12
                ul.certificates__carousel
                    li.certificates__carousel-item
                      a.swipebox(href='img/certificates/pic-1.png')
                        img( src="img/certificates/pic-1.png", alt="")
                      .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='img/certificates/pic-2.png')
                            img( src="img/certificates/pic-2.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='img/certificates/pic-3.png')
                            img( src="img/certificates/pic-3.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='img/certificates/pic-1.png')
                            img( src="img/certificates/pic-1.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='img/certificates/pic-2.png')
                            img( src="img/certificates/pic-2.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='img/certificates/pic-3.png')
                            img( src="img/certificates/pic-3.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='img/certificates/pic-1.png')
                            img( src="img/certificates/pic-1.png", alt="")
                        .loupe


section.success-story
    .row
        .columns.medium-12
            .success-story__title
                h2 Истории успеха
    .row
        .columns.medium-12
            ul.success-story__carousel
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-1.png')
                        img( src="img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        |adipiscing elit. Aenean euismod bibendum
                        |laoreet. Proin gravida dolor sit amet lacus
                        |accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-2.png')
                        img( src="img/success-story/pic-2.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-3.png')
                        img( src="img/success-story/pic-3.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-3.png')
                        img( src="img/success-story/pic-3.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-2.png')
                        img( src="img/success-story/pic-2.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-1.png')
                        img( src="img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-1.png')
                        img( src="img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-3.png')
                        img( src="img/success-story/pic-3.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='img/success-story/pic-1.png')
                        img( src="img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur
                        | adipiscing elit. Aenean euismod bibendum
                        | laoreet. Proin gravida dolor sit amet lacus
                        | accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее

section.our-clients
    .row
        .columns.medium-12
            .our-clients__title
                h2 Наши клиенты
    .row
        .columns.medium-12
            ul.our-clients__carousel
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-1.png')
                        img( src="img/clients/pic-1.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-2.png')
                        img( src="img/clients/pic-3.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-3.png')
                        img( src="img/clients/pic-1.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-4.png')
                        img( src="img/clients/pic-4.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-1.png')
                        img( src="img/clients/pic-1.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-3.png')
                        img( src="img/clients/pic-3.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-2.png')
                        img( src="img/clients/pic-2.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-4.png')
                        img( src="img/clients/pic-4.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='img/clients/pic-1.png')
                        img( src="img/clients/pic-1.png", alt="")

section.block-order
    .row
        .columns.medium-12
            .block-order__title
                h2 Заказать услугу
    .row
        .columns.medium-12
            .block-order__form-wrap
                .block-order__form-wrap-2
                    .columns.medium-6.medium-centered
                        .form-standart
                            form
                                .form-standart__fields-list
                                    .form-standart__field
                                        .form-standart__label Ваше имя:
                                        .form-standart__item
                                            input.inputtext(type='text', name='')
                                    .form-standart__field
                                        .form-standart__label Ваш телефон:
                                        .form-standart__item
                                            input.inputtext(type='text', name='')
                                    .form-standart__field
                                        .form-standart__label Комментарий:
                                        .form-standart__item
                                            input.inputtextarea(type='textarea', name='')
                                    .form-standart__field
                                        .form-standart__item
                                            input.btn-color(type='submit', name='', value='Отправить')



section.block-subscribe
    .row
        .columns.medium-12
            .block-subscribe__title
                h2 Подпишись и получай #[<br>] скидку на почту!!!
    .row
        .columns.medium-12
            .block-subscribe__form-wrap
                .row
                    .columns.medium-1
                        span %
                    .columns.medium-10
                        .form-standart.form-subscribe
                            form
                                .form-standart__fields-list
                                    .form-standart__field
                                        .form-standart__label Ваше имя:
                                        .form-standart__item
                                            input.inputtext(type='text', name='')
                                    .form-standart__field
                                        .form-standart__label Ваш Email:
                                        .form-standart__item
                                            input.inputtext(type='text', name='')
                                    .form-standart__field
                                        .form-standart__item
                                            input.btn-color(type='submit', name='', value='Подпсаться' )
                    .columns.medium-1

section.block-payment
    .row
        .columns.medium-12
            .block-payment__items
                .block-payment__item(id="cash")
                    img(src='img/payment/pic-1.svg')
                    span наличные
                .block-payment__item(id="visa")
                    img(src='img/payment/pic-2.svg')
                .block-payment__item(id="webmoney")
                    img(src='img/payment/pic-3.svg')
                .block-payment__item(id="sber")
                    img(src='img/payment/pic-4.svg')
                .block-payment__item(id="yandex-money")
                    img(src='img/payment/pic-5.svg')
                .block-payment__item(id="qiwi")
                    img(src='img/payment/pic-6.svg')
                .block-payment__item(id="paypal")
                    img(src='img/payment/pic-7.svg')
                .block-payment__item(id="mts")
                    img(src='img/payment/pic-8.svg')
                .block-payment__item(id="okpay")
                    img(src='img/payment/pic-9.svg')


