include top-slider.jade

section.about
    .row
        .columns.large-12
            .about__title
                .main-content__title
                  h2 О нас в цифрах
            .about__block-items
                .row
                    .columns.medium-4 
                        .about__block-item
                            span.about__block-item-counts(id='clean') 50 000
                            span.about__block-item-description Отчищенных до блеска
                    .columns.medium-4
                        .about__block-item
                            span.about__block-item-counts(id='review') 500
                            span.about__block-item-description Положительных отзывов
                    .columns.medium-4
                        .about__block-item
                            span.about__block-item-counts(id='garbage') 100
                            span.about__block-item-description Тонн убранного муссора

section.block-gallery
    .row
        .columns.large-12
            .block-gallery__big-image
                img(src='../img/_layout-1.png')
    .row
        .columns.large-12
            .block-gallery__title
                .main-content__title
                    h2 Уборка квартир после ремонта в Москве <br> - залог чистоты и Вашего здоровья!
    .row
        .columns.large-12
            .block-gallery__text.two-columns
                .small-text
                      p Не сомневайтесь, качественный и комплексный клининг —
                        |это работа для квалифицированного профессионала: каждый
                        |из его этапов он может выполнить на высочайшем уровне. Специалистами выполняется плановая, генеральная или                  послестроительная уборка дома, коттеджей или офисных помещений Москвы в краткие сроки и согласно программе                      производственного контроля.
                      p В процессе работы сотрудники «Партнер Ромашка» используют оборудование, которое непрофессионалу довольно сложно достать — эта техника позволяет добиться более эффектного
                        |и эффективного результата. Программа производственного контроля в Москве предусматривает избавление помещений
                        |от грызунов и насекомых, обслуживание климатической техники.
    .row
        .columns.medium-6.medium-offset-6
        .columns.medium-6
            .btn-border-color-thin Читать далее
    .row
        .columns.large-4.medium-4.small-4
            .block-gallery__picture
                img(alt='', src='../img/gallery/pic-1.png')
                .block-gallery__loupe
        .columns.large-4.medium-4.small-4
            .block-gallery__picture
                img(alt='', src='../img/gallery/pic-2.png')
                .block-gallery__loupe
        .columns.large-4.medium-4.small-4
            .block-gallery__picture
                img(alt='', src='../img/gallery/pic-2.png')
                .block-gallery__loupe



section.block-price
    .row
        .columns.large-12
            .block-price__title
                .main-content__title
                    h2 Послестроительная #[br]уборка
    .row
        .columns.large-12
            .block-price__text.two-columns
                .small-text
                    p Не сомневайтесь, качественный и комплексный клининг —
                        |это работа для квалифицированного профессионала: каждый
                        |из его этапов он может выполнить на высочайшем уровне. Специалистами выполняется плановая, генеральная или                  послестроительная уборка дома, коттеджей или офисных помещений Москвы в краткие сроки и согласно программе                      производственного контроля.
                    p В процессе работы сотрудники «Партнер Ромашка» используют оборудование, которое непрофессионалу довольно сложно достать — эта техника позволяет добиться более эффектного
                        |и эффективного результата. Программа производственного контроля в Москве предусматривает избавление помещений
                        |от грызунов и насекомых, обслуживание климатической техники.
    .row
        .columns.large-3.large-centered
            .block-price__button-wrap
                .btn-border-color-thin Читать далее

    .row
        .columns.large-12
            table.price-table(collapse='collapse')
                tr
                    td.price-table__title(colspan="5") Площадь помещения, М²
                tr
                    td.price-table__param
                        strong до 40 #[span М²]
                    td.price-table__param
                        strong до 41-50 #[span М²]
                    td.price-table__param
                        strong 51-60 #[span М²]
                    td.price-table__param
                        strong 61-70 #[span М²]
                    td.price-table__param
                        strong 71-80 #[span М²]
                tr
                    td.price-table__price
                        span 3 900 Р
                    td.price-table__price
                        span 4 900 Р
                    td.price-table__price
                        span 5 800 Р
                    td.price-table__price
                        span 6 300 Р
                    td.price-table__price
                        span 6 900 Р
                tr
                    td.price-table__title(colspan="5") Стоимость, руб


section.block-video
    .row
        .columns.large-12
            .block-video__wrap
                .block-video__item
                    a.swipebox-video.swipebox(rel="vimeo", href="http://vimeo.com/29193046")
                        img.block-video__img(src='../img/video/video-pic.png',alt='')
                    .block-video__item-bg
                    .button-play

section.expirience
    .row
        .columns.small-12
            .expirience__title
                .main-content__title
                    h2 Опыт работы и портфолио
    .row.one-height
        .columns.small-6
            .expirience__block-text.s-height.left
                h3 Заголовок текста
                .small-text
                    p Lorem ipsum dolor sit amet, consectetur
                    |adipiscing elit. Aenean euismod bibendum
                    |laoreet. Proin gravida dolor sit amet lacus
                    |accumsan et viverra justo commodo
                .btn-border-color-thin Подробнее

        .columns.small-6
            .expirience__block-pic.g-height
                img(alt='', src='../img/portfolio/pic-1.png')
    .row.one-height
        .columns.small-6
            .expirience__block-pic.g-height
                img(alt='', src='../img/portfolio/pic-2.png')
        .columns.small-6
            .expirience__block-text.s-height.right
                h3 Заголовок текста
                .small-text
                    p Lorem ipsum dolor sit amet, consectetur
                    | adipiscing elit. Aenean euismod bibendum
                    | laoreet. Proin gravida dolor sit amet lacus
                    | accumsan et viverra justo commodo
                .btn-border-color-thin Подробнее

    .row.one-height
        .columns.small-6
            .expirience__block-text.s-height.left
                h3 Заголовок текста
                .small-text
                    p Lorem ipsum dolor sit amet, consectetur
                    | adipiscing elit. Aenean euismod bibendum
                    | laoreet. Proin gravida dolor sit amet lacus
                    | accumsan et viverra justo commodo
                .btn-border-color-thin Подробнее
        .columns.small-6
            .expirience__block-pic.g-height
                img(alt='', src='../img/portfolio/pic-1.png')
    .row
        .columns.small-12
            .btn-full-size.is-corner-b Показать больше работ

section.certificates
    .row
        .columns.large-12
            .certificates__title
                .main-content__title
                    h2 Сертификаты, Дипломы, Награды
    .row
        .columns.large-12
                ul.certificates__carousel
                    li.certificates__carousel-item
                      a.swipebox(href='../img/certificates/pic-1.png')
                        img( src="../img/certificates/pic-1.png", alt="")
                      .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='../img/certificates/pic-2.png')
                            img( src="../img/certificates/pic-2.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='../img/certificates/pic-3.png')
                            img( src="../img/certificates/pic-3.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='../img/certificates/pic-1.png')
                            img( src="../img/certificates/pic-1.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='../img/certificates/pic-2.png')
                            img( src="../img/certificates/pic-2.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='../img/certificates/pic-3.png')
                            img( src="../img/certificates/pic-3.png", alt="")
                        .loupe
                    li.certificates__carousel-item
                        a.swipebox(href='../img/certificates/pic-1.png')
                            img( src="../img/certificates/pic-1.png", alt="")
                        .loupe


section.success-story
    .row
        .columns.large-12
            .success-story__title
                .main-content__title
                    h2 Истории успеха
    .row
        .columns.large-12
            ul.success-story__carousel
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-1.png')
                        img( src="../img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-2.png')
                        img( src="../img/success-story/pic-2.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-3.png')
                        img( src="../img/success-story/pic-3.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-3.png')
                        img( src="../img/success-story/pic-3.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-2.png')
                        img( src="../img/success-story/pic-2.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-1.png')
                        img( src="../img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-1.png')
                        img( src="../img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-3.png')
                        img( src="../img/success-story/pic-3.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее
                li.success-story__carousel-item
                    a.swipebox(href='../img/success-story/pic-1.png')
                        img( src="../img/success-story/pic-1.png", alt="")
                    .small-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo
                    .btn-border-color-thin Читать далее

section.our-clients
    .row
        .columns.large-12
            .our-clients__title
                .main-content__title
                    h2 Наши клиенты
    .row
        .columns.large-12
            ul.our-clients__carousel
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-1.png')
                        img( src="../img/clients/pic-1.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-2.png')
                        img( src="../img/clients/pic-3.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-3.png')
                        img( src="../img/clients/pic-1.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-4.png')
                        img( src="../img/clients/pic-4.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-1.png')
                        img( src="../img/clients/pic-1.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-3.png')
                        img( src="../img/clients/pic-3.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-2.png')
                        img( src="../img/clients/pic-2.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-4.png')
                        img( src="../img/clients/pic-4.png", alt="")
                li.our-clients__carousel-item
                    a.swipebox(href='../img/clients/pic-1.png')
                        img( src="../img/clients/pic-1.png", alt="")
section.block-order
    .row
        .columns.medium-12
            .block-order__title
                .main-content__title
                    h2 Заказать услугу
    include block-order.jade

include block-subscribe.jade



