footer
    .footer-main-menu
        .row
            .columns.medium-2
                .copyright
                    .copyright__logo
                        img(src='img/logo.svg', alt='')
                    .copyright__date
                        span © 2000-2016 #[br] Очистка и дезинфекция #[br]систем вентиляции
                    .copyright__contacts
                        a(href="mailto:tamara@romashki.ru") tamara@romashki.ru
            .columns.medium-2
                .footer-main-menu__title Меню
                ul.footer-main-menu__items.menu-ft
                    li.footer-main-menu__item.active
                        a(href='') Главная
                    li.footer-main-menu__item
                        a(href='') О компании
                    li.footer-main-menu__item
                        a(href='') Цены
                    li.footer-main-menu__item
                        a(href='') Отзывы
                    li.footer-main-menu__item
                        a(href='') О компании
            .columns.medium-2
                .footer-main-menu__title Услуги
                ul.footer-main-menu__items.services
                    li.footer-main-menu__item
                        a(href='') Уборка
                    li.footer-main-menu__item
                        a(href='') Мойка окон и фасадов
                    li.footer-main-menu__item
                        a(href='') Химчистка
                    li.footer-main-menu__item
                        a(href='') Шлифовка и полировка поверхностей
            .columns.medium-2
                .footer-main-menu__title Презентация
                a.footer-main-menu__link(href='')
                    img
                    span Скачать
            .columns.medium-4
                .footer-certificates
                    .footer-main-menu__title Сертификаты, дипломы, награды
                        ul.footer-certificates__items.sertificates
                            li.footer-certificates__item
                                a.swipebox(href='img/footer/pic-1.png')
                                    img( src="img/footer/pic-1.png", alt="")
                            li.footer-certificates__item
                                a.swipebox(href='img/footer/pic-2.png')
                                    img( src="img/footer/pic-2.png", alt="")
                            li.footer-certificates__item
                                a.swipebox(href='img/footer/pic-3.png')
                                    img( src="img/footer/pic-3.png", alt="")
                            li.footer-certificates__item
                                a.swipebox(href='img/footer/pic-4.png')
                                    img( src="img/footer/pic-4.png", alt="")
                .footer-contacts
                        .footer-contacts__contacts
                            nobr +7(499) 110-48-49
                            a
                                span Обратный звонок
                .button-m Оставить заявку
    .footer-height
        .row
            .columns.medium-12
                ul.footer-height__menu
                    li.footer-height__menu-item.active
                        a(href='#') Опыт работы
                    li.footer-height__menu-item
                        a(href='#') Версии договоров
                    li.footer-height__menu-item
                        a(href='#') Справочная информация
                    li.footer-height__menu-item
                        a(href='#') Программа лояльности
                    li.footer-height__menu-item
                        a(href='#') Правовая информаяи
                    li.footer-height__menu-item
                        a(href='#') Карта сайта


