.header-slider
    .header-slider__title
        h1 Клининговая #[br]компания
    .header-slider__items
        .header-slider__item.kl.persons.active
            img(src='../img/test.png')
            .header-slider__menu-item.i-1(data-x='261',data-y='87')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-2(data-x='172',data-y='227')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-3(data-x='338',data-y='160')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-4(data-x='610',data-y='195')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-5(data-x='990',data-y='140')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-6(data-x='640',data-y='453')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-7(data-x='1080',data-y='515')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-8(data-x='1127',data-y='346')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='1359',data-y='157')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='1359',data-y='157')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='1359',data-y='157')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='1359',data-y='157')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='1359',data-y='157')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='1359',data-y='157')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]



        .header-slider__item.kl.companies
            img(src='../img/test2.png')
            .header-slider__menu-item.i-1(data-x='265',data-y='90')
                .menu-icon
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-2(data-x='184',data-y='251')
                .menu-icon
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-6(data-x='668',data-y='173')
                .menu-icon
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='890',data-y='158')
                .menu-icon
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-5(data-x='1244',data-y='70')
                .menu-icon
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-7(data-x='877',data-y='437')
                .menu-icon
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
.row
    .columns.medium-12
        .header-slider__checkbox-wrap
            label(for="custom-checkbox") Для физических лиц
            input(type="checkbox" class="custom-checkbox" id="custom-checkbox")
            label(for="custom-checkbox") Для юридических лиц

