section.staff
    .row
        .columns.large-12
            .staff__items
                .staff__item
                    img.staff__img(src='../img/staff/pic-1.png',alt='')
                    strong.staff__name Александр
                    span.staff__position Директор
                .staff__item
                    img.staff__img(src='../img/staff/pic-2.png',alt='')
                    strong.staff__name Наталья
                    span.staff__position Главный менеджер
                .staff__item
                    img.staff__img(src='../img/staff/pic-3.png',alt='')
                    strong.staff__name Марина
                    span.staff__position Клинер
                .staff__item
                    img.staff__img(src='../img/staff/pic-4.png',alt='')
                    strong.staff__name Светлана
                    span.staff__position Клинер
                .staff__item
                    img.staff__img(src='../img/staff/pic-5.png',alt='')
                    strong.staff__name Сергей
                    span.staff__position Клинер
                .staff__item
                    img.staff__img(src='../img/staff/pic-6.png',alt='')
                    strong.staff__name Владимир
                    span.staff__position Полировщик

