section.staff
    .row
        .columns.large-12
            .staff__items
                .staff__item
                    img.staff__img(src='../img/staff/pic-1.png',alt='')
                    strong.staff__name Александр
                    span.staff__position Директор
                .staff__item
                    img.staff__img(src='../img/staff/pic-2.png',alt='')
                    strong.staff__name Александр
                    span.staff__position Директор
                .staff__item
                    img.staff__img(src='../img/staff/pic-3.png',alt='')
                    strong.staff__name Александр
                    span.staff__position Директор
    .row
        .columns.large-12
            .staff__items
                .staff__item
                    img.staff__img(src='../img/staff/pic-4.png',alt='')
                    strong.staff__name Александр
                    span.staff__position Директор
                .staff__item
                    img.staff__img(src='../img/staff/pic-5.png',alt='')
                    strong.staff__name Александр
                    span.staff__position Директор
                .staff__item
                    img.staff__img(src='../img/staff/pic-6.png',alt='')
                    strong.staff__name Александр
                    span.staff__position Директор                   

