.tab-menu
    ul.tab-menu__items
        li.tab-menu__item.active
            a(href='#persons') Физическим лицам
        li.tab-menu__item
            a(href='#companies') Юридическим лицам
    .tab-menu__content
        .tab-menu__content-item.no-scroller(id='persons')
        ul.tab-menu__list.is-opened
            li.tab-menu__list-item
                a(href='') Уборка
            li.tab-menu__list-item
                a(href='') Мойка
            li.tab-menu__list-item
                a(href='') Химчистка
            li.tab-menu__list-item
                a(href='') Шлифовка и полировка
        .tab-menu__content-item.no-scroller(id='companies')
        ul.tab-menu__list
            li.tab-menu__list-item
                a(href='') Уборка офиса
            li.tab-menu__list-item
                a(href='') Мойка офиса
            li.tab-menu__list-item
                a(href='') Химчистка офиса
            li.tab-menu__list-item
                a(href='') Шлифовка и полировка офиса
            li.tab-menu__list-item
                a(href='') Шлифовка и полировка офиса