.row
    .columns.medium-12
        .form-standart__title
            h4 Профиль пользователя
.form-standart.form-profile-person.form-color
    form
        .form-standart__fields-list
            .form-standart__field
                .form-standart__label Ваше имя #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Ваш email #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="" data-fieldname="email")
            .form-standart__field
                .form-standart__label Ваша фамилия #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Доп телефон #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="" data-fieldname="phone")
            .form-standart__field
                .form-standart__label Ваше отчество #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Ваш телефон #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="" data-fieldname="phone")
            .form-standart__comment
                span * - поля, обязательные для заполнения
            .form-standart__field
                .form-standart__label
                .form-standart__item
                    input.btn-color(type="submit" name="" value='Сохранить')
