.breadcrumbs{
  height: 65px;
  margin: 0 0 2rem 0;
  position: relative;

  @media #{$media-phone}{
    height: 2.5rem;
  }

&__items{
  margin: 0;
  position: absolute;
  bottom: 0;
  line-height:1em;
}
  
  &__item{

    a{
      font-family: 'RobotoLight', sans-serif;
      color: $cl-black-brown;
      text-transform: none;

    }
    a:hover{
      color: $cl-black-brown;
    }
  }

  li:not(:last-child)::after{
    content: '|';
    top: -2px;
    color: $cl-black-brown;
  }

}