.button-m{
  display: inline-block;
  font-size: (14/16)+em;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-weight:bold;
  padding: 3.5px 9px;
  border: 4px solid $cl-moderate-orange-yellow;
  color: $cl-moderate-orange-yellow;

  
  &:hover{
    background-color: $cl-moderate-orange-yellow;
    color: $cl-real-white;
  }
}

.btn-color{
  @extend .button-m;
  background-color: $cl-moderate-orange-yellow;
  color: $cl-real-white;

  &:hover{
    background-color: $cl-real-white;
    color: $cl-moderate-orange-yellow;
  }

}

.btn-border-color{
  @extend .button-m;

}

.btn-border-color-thin{
  @extend .button-m;
  border: 1px solid $cl-moderate-orange-yellow;
  text-transform: none;
  font-weight:normal;
  width:auto;

  &:hover{
    background-color: $cl-real-white;
    color: $cl-moderate-orange-yellow;
  }

}

.button-play{
  position: absolute;
  padding: 35px;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
  cursor: pointer;
  @include bgsvg('video-icon-play.svg')
}

.btn-full-size{
  @extend .button-m;
  font-size: (18/16)+em;
  line-height:1em;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin:0;
}

.btn-full-size.is-corner-b{
  position: relative;

  @include cornerBottomWhite(10, -23);

}

.close-button-m{
  display: inline-block;
  position: absolute;
  cursor: pointer;
  color: $cl-real-white;
  right: 0.625rem;
  top: 0.625rem;
  &:after{
    content: '\00d7';
    font-size: (26/16)+em;
  }
}

.btn-close-modal{
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%;
  background-color: $cl-moderate-orange-yellow;
  color: $cl-real-white;
  position: absolute;
  right: 1.625rem;
  top: 0.8125rem;
  cursor: pointer;
  &:after{
    content: '\00d7';
    font-size: (50/16)+em;
  }
}

.btn-close-review{
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 0.625rem;
  top:0.625rem;
  cursor: pointer;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;

}


