.form-subscribe {
  @extend .form-standart;
  margin-left: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 2.5rem;
  @include clearfix;

  .form-standart {

   &__field{
     input[type='textarea'],
     input[type='text'] {
       border: 1px solid transparent;
       margin: 0;
     }
   }

    &__field:nth-child(1),
    &__field:nth-child(2) {
      float: left;
      width: 33%;
      margin-right: 4%;
    }

    &__field:last-child {
      width: 15%;
      float: right;

      input{
        margin:0;
      }
    }

  }
}