.form-profile {
  @extend .form-standart;
  width: 80% !important;

  input[type='text']{
    margin-bottom: 2.8125rem!important;
  }

  .form-standart {
    &__field {
      display: block !important;
      margin-top:0 !important;

      @include nthEven(1,4,2, left, 47);
      @include nthOdd(1,4,2, right, 47);

      @include nthOdd(7,9,2, left, 47);
      @include nthEven(7,10,2, right, 47);

    }

    &__field-list + .form-standart__field{
      margin-left: 10%;
      float: left;
    }

    &__field:nth-child(1) {
      float: left;
      margin-left: 10%;
      margin-top: 1.25rem !important;

      & + .btn-color{
        margin-top: 1.25rem !important;
      }

      & + .btn-color + .form-standart__comment{
        margin-bottom: 4.365rem;
      }

      .inputfile__text,
      input[type='file']{
        margin-bottom:0.9375rem;
      }

    }

    &__field:nth-child(10){
      clear: both;
    }

    &__field:nth-last-child(3),
    &__field:nth-last-child(4){
     input[type='text']{
       margin-bottom: 1.5625rem !important;
     }
    }

    &__field:last-child{
      .btn-color{
        margin-top: 1.5625rem;
      }
    }
  }
}

