h1, h2 {
  color: #5fbb28; }

.btn-border-color {
  border-color: #5fbb28;
  color: #5fbb28; }
  .btn-border-color:hover {
    border-color: #5fbb28;
    background-color: #5fbb28; }

.btn-border-color-thin {
  border-color: #5fbb28;
  color: #5fbb28; }
  .btn-border-color-thin:hover {
    border-color: #5fbb28;
    background-color: #5fbb28;
    color: #ffffff; }

.btn-full-size {
  background-color: #5fbb28;
  border-color: #5fbb28;
  color: #ffffff; }
  .btn-full-size:hover {
    color: #5fbb28;
    background-color: #ffffff; }

.btn-full-size.is-corner-b:after {
  border-top-color: #5fbb28; }

.strong-text {
  border-color: #5fbb28; }

.top-height {
  background-color: #5fbb28; }
  .top-height__menu {
    background-color: #5fbb28; }
  .top-height__menu-item.active, .top-height__menu-item:hover {
    background-color: #2c9d05; }

.top-menu {
  border-top-color: #5fbb28;
  border-bottom-color: #5fbb28; }
  .top-menu__items-second-lvl {
    background-color: #5fbb28; }
  .top-menu__item:hover > a {
    box-shadow: inset 0 0.375rem 0 0 #5fbb28; }
  .top-menu .button-menu-lines__line {
    background-color: #5fbb28; }

.mobile-menu {
  border-bottom-color: #5fbb28; }
  .mobile-menu__items-second-lvl {
    background-color: #5fbb28; }
  .mobile-menu__item.active > a {
    border-top-color: #5fbb28; }

.about__block-items {
  border-color: #5fbb28; }
  .about__block-items:before {
    border-bottom-color: #5fbb28; }

.about__block-item-counts:after {
  background-image: url("../../img/about/about-icon-sprite-green.svg");
  color: #5fbb28; }

.about__block-item-description {
  color: #5fbb28; }

.price-table__param {
  border-bottom-color: #5fbb28; }

.price-table tr:nth-child(2) {
  box-shadow: inset 0 -0.5rem 0px -0.25rem #5fbb28; }

.price-table__param:nth-child(1) {
  background-image: url("../../img/price/price-icon-1-green.svg"); }

.price-table__param:nth-child(2) {
  background-image: url("../../img/price/price-icon-2-green.svg"); }

.price-table__param:nth-child(3) {
  background-image: url("../../img/price/price-icon-3-green.svg"); }

.price-table__param:nth-child(4) {
  background-image: url("../../img/price/price-icon-4-green.svg"); }

.price-table__param:nth-child(5) {
  background-image: url("../../img/price/price-icon-5-green.svg"); }

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-color: #5fbb28; }

.block-video__item-bg {
  background-color: #5fbb28;
  opacity: 0.5; }

.expirience__block-text:hover {
  border-color: #5fbb28; }

.expirience__block-text.left:before {
  border-left-color: #5fbb28; }

.expirience__block-text.right:before {
  border-right-color: #5fbb28; }

.expirience .btn-full-size:after {
  border-top-color: #5fbb28; }

.custom-checkbox:checked + label:before,
.custom-checkbox:not(checked) + label:before {
  background: #5fbb28; }

.loupe {
  background-image: url("../../img/loupe-green.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%; }

.slick-dots li.slick-active button:before,
.slick-dots li:hover button::before {
  color: #5fbb28; }

.block-order-wrap,
.change-pass-wrap,
.change-sub-wrap {
  background-color: #5fbb28; }
  .block-order-wrap:after,
  .change-pass-wrap:after,
  .change-sub-wrap:after {
    border-bottom-color: #5fbb28; }

.review-wrap {
  background-color: #5fbb28; }

.block-subscribe__form-wrap {
  border-color: #5fbb28; }
  .block-subscribe__form-wrap:before {
    border-bottom-color: #5fbb28; }

.form-standart.form-subscribe input[type='textarea'],
.form-standart.form-subscribe input[type='text'] {
  border-color: #5fbb28; }

.block-payment #cash {
  background-image: url("../../img/payment/icon-cash-green.svg"); }

.block-payment__items {
  border-top-color: #5fbb28;
  border-bottom-color: #5fbb28; }
  .block-payment__items span {
    color: #5fbb28; }

.footer-main-menu__item.active a {
  border-color: #5fbb28; }

.footer-main-menu__link {
  color: #5fbb28; }
  .footer-main-menu__link:before {
    background-image: url("../../img/footer/icon-present-green.svg"); }

.footer-height {
  background-color: #5fbb28; }
  .footer-height__menu-item.active, .footer-height__menu-item:hover {
    background-color: #2c9d05; }

.authorization__item:first-child {
  border-right-color: #5fbb28; }

.authorization__item a {
  color: #5fbb28; }

.block-gallery__picture:hover {
  outline-color: #5fbb28; }

.block-gallery__loupe {
  background-color: #5fbb28; }

.top-slider__carousel-item img:hover {
  border-color: #5fbb28; }

.top-slider__carousel-item.active img {
  border-color: #5fbb28; }

.top-slider__carousel-item:hover, .top-slider__carousel-item.active {
  background: url("../../img/top-slider/bubble-green.svg") 0% 9% no-repeat, url("../../img/top-slider/bubble-grey.svg") 12% 2% no-repeat, url("../../img/top-slider/bubble-grey.svg") 90% 55% no-repeat;
  background-size: 33px, 18px, 23px; }

.tab-menu .tab-menu__icon-per,
.tab-menu .tab-menu__icon-comp {
  background-image: url("../../img/services/per-comp-icon-sprite-green.svg"); }

.tab-menu__item.active a {
  background-color: #5fbb28; }

.tab-menu__item.active:after {
  border-top-color: #5fbb28; }

.tab-menu__list {
  background-color: #5fbb28; }

.tab-menu-page__item.active a {
  background-color: #5fbb28; }

.tab-menu-page__list {
  background-color: #2c9d05; }

.block-subscribe-sidebar__form-wrap {
  border-color: #5fbb28; }

.form-subscribe-sidebar .form-standart__field input[type='textarea'],
.form-subscribe-sidebar .form-standart__field input[type='text'] {
  border-color: #5fbb28; }

.pagination-m__previous, .pagination-m__next {
  background-color: #5fbb28; }

.pagination-m__num:hover {
  outline: 3px solid #5fbb28;
  outline-offset: -3px;
  color: #5fbb28; }

.pagination-m__num.is-current {
  background-color: #5fbb28; }

.block-detail-slider__link:hover {
  outline-color: #5fbb28; }

.block-detail-slider__loupe {
  background-color: #5fbb28; }

.block-detail-slider__carousel.is-color-arrows .slick-prev:before,
.block-detail-slider__carousel.is-color-arrows .slick-next:before {
  background-color: #5fbb28; }

.block-detail-slider__carousel.is-color-arrows .slick-prev:hover:before,
.block-detail-slider__carousel.is-color-arrows .slick-next:hover:before {
  background-color: #2c9d05; }

.staff__item img {
  background-color: #5fbb28; }

.block-products__date {
  background-color: #5fbb28; }

.block-bonus {
  border-color: #5fbb28; }
  .block-bonus:before {
    border-bottom-color: #5fbb28; }
  .block-bonus__name {
    color: #5fbb28; }

.block-some-columns__title {
  background-color: #5fbb28; }
  .block-some-columns__title:after {
    border-top-color: #5fbb28; }

.block-address__name, .block-address__name-mail {
  color: #5fbb28; }

.price-big-table__head-name {
  color: #5fbb28; }

.price-big-table__head:nth-child(2) {
  background-image: url("../../img/price/price-big-table-layer-green.png"); }

.price-big-table__name {
  background-color: #5fbb28; }

.price-big-table__data {
  border-color: #5fbb28; }

.price-big-table__data:last-child {
  border-right-color: #5fbb28; }

.price-big-table__data:nth-child(2) {
  border-left-color: #5fbb28; }

.price-big-table__row:nth-child(2) .price-big-table__data {
  border-top-color: #5fbb28; }

.price-big-table__row:last-child .price-big-table__data,
.price-big-table__row:last-child .price-big-table__name {
  border-bottom-color: #5fbb28; }

.cleaning-price-wrap .price-big-table__head:nth-child(2) {
  background-image: url("../../img/price/price-big-table-layer-wp-green.png"); }

.simple-table__head-name {
  background-color: #5fbb28; }

.block-social-top__link {
  background-color: #5fbb28; }

.block-social-top__link:hover {
  background-color: #2c9d05; }

.bind-account__link {
  background-image: url("../../img/social/icon-social-sprite-top-green.svg"); }

.bind-account__link:hover {
  background-color: #2c9d05;
  background-image: url("../../img/social/icon-social-sprite-top.svg"); }

.services-list {
  border-color: #5fbb28; }
  .services-list__title {
    color: #5fbb28; }
  .services-list__item:before {
    border-left-color: #5fbb28; }

.account-wrap .tab-menu-page__list {
  background-color: #5fbb28; }

.block-reviews__client-item .block-reviews__contents {
  border-color: #5fbb28; }

.block-reviews__client-item .block-reviews__contents:before {
  border-right-color: #5fbb28; }

.block-reviews .block-stars__star:hover:before,
.block-reviews .block-stars__star.is-full:before {
  color: #5fbb28; }

.block-bonus-accumulation__img {
  background-image: url("../../img/bonus-modal-icon.png"); }

.block-bonus-accumulation__name {
  color: #5fbb28; }

.btn-close-review {
  background-image: url("../../img/review-close-bg.png"); }

.my-orders-wrap .tab-menu-page__item:after {
  border-top-color: #5fbb28; }

.header-slider__item.kl, .header-slider__item.kt, .header-slider__item.ex {
  display: none; }

.copyright__contacts {
  background-image: url("../../img/footer/icon-email-green.svg"); }
