.block-bonus-accumulation__items
        .block-bonus-accumulation__item
                .block-bonus-accumulation__img
                span.block-bonus-accumulation__name Вам начислено
                span.block-bonus-accumulation__num 100
                span.block-bonus-accumulation__score баллов



