@import "../_mixins";

h1, h2 {
  color: $cl-herbal;
}

.btn-border-color {
  border-color: $cl-herbal;
  color: $cl-herbal;

  &:hover {
    border-color: $cl-herbal;
    background-color: $cl-herbal;

  }
}

.btn-border-color-thin {
  border-color: $cl-herbal;
  color: $cl-herbal;

  &:hover {
    border-color: $cl-herbal;
    background-color: $cl-herbal;
    color: $cl-real-white;
  }
}

.btn-full-size {
  background-color: $cl-herbal;
  border-color: $cl-herbal;
  color: $cl-real-white;

  &:hover {
    color: $cl-herbal;
    background-color: $cl-real-white;
  }

}

.btn-full-size.is-corner-b {
  &:after {
    border-top-color: $cl-herbal;
  }
}

.strong-text {
  border-color: $cl-herbal;
}

.top-height {
  background-color: $cl-herbal;

  &__menu {
    background-color: $cl-herbal;
  }

  &__menu-item.active,
  &__menu-item:hover {
    background-color: $cl-indian-green;
  }

}

.top-menu {
  border-top-color: $cl-herbal;
  border-bottom-color: $cl-herbal;

  &__items-second-lvl {
    background-color: $cl-herbal;
  }

  &__item:hover > a {
    box-shadow: inset 0 0.375rem 0 0 $cl-herbal;
  }

  .button-menu-lines {
    &__line {
      background-color: $cl-herbal;
    }
  }

}

.mobile-menu {
  border-bottom-color: $cl-herbal;

  &__items-second-lvl {
    background-color: $cl-herbal;
  }

  &__item.active > a {
    border-top-color: $cl-herbal;
  }

}

.about {

  &__block-items {
    border-color: $cl-herbal;
    &:before {
      border-bottom-color: $cl-herbal;
    }
  }

  &__block-item-counts {

    &:after {
      background-image: url('../../img/about/about-icon-sprite-green.svg');
      color: $cl-herbal;
    }

  }

  &__block-item-description {
    color: $cl-herbal;
  }
}

.price-table {
  &__param {
    border-bottom-color: $cl-herbal;
  }

  tr:nth-child(2) {
    box-shadow: inset 0 -0.5rem 0px -0.25rem $cl-herbal;
  }

  &__param:nth-child(1) {
    background-image: url('../../img/price/price-icon-1-green.svg');
  }

  &__param:nth-child(2) {
    background-image: url('../../img/price/price-icon-2-green.svg');
  }

  &__param:nth-child(3) {
    background-image: url('../../img/price/price-icon-3-green.svg');
  }

  &__param:nth-child(4) {
    background-image: url('../../img/price/price-icon-4-green.svg');
  }

  &__param:nth-child(5) {
    background-image: url('../../img/price/price-icon-5-green.svg');
  }

}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-color: $cl-herbal;
}

.block-video {

  &__item-bg {
    background-color: $cl-herbal;
    opacity: 0.5;
  }

}

.expirience {
  &__block-text:hover {
    border-color: $cl-herbal;
  }

  &__block-text.left {
    &:before {
      border-left-color: $cl-herbal;
    }
  }

  &__block-text.right {
    &:before {
      border-right-color: $cl-herbal;
    }
  }

  .btn-full-size {

    &:after {
      border-top-color: $cl-herbal;

    }

  }

}

.custom-checkbox:checked + label:before,
.custom-checkbox:not(checked) + label:before {
  background: $cl-herbal;
}

.loupe {
  @include bgsvg-theme('loupe-green.svg');
}

.slick-dots li.slick-active button:before,
.slick-dots li:hover button::before {
  color: $cl-herbal;
}

.block-order-wrap,
.change-pass-wrap,
.change-sub-wrap {
  background-color: $cl-herbal;
  &:after {
    border-bottom-color: $cl-herbal;
  }
}

.review-wrap {
  background-color: $cl-herbal;
}

.block-subscribe {
  &__form-wrap {
    border-color: $cl-herbal;
    &:before {
      border-bottom-color: $cl-herbal;
    }
  }
}

.form-standart.form-subscribe {
  input[type='textarea'],
  input[type='text'] {
    border-color: $cl-herbal;
  }
}

.block-payment {
  #cash{
    background-image: url('../../img/payment/icon-cash-green.svg');
  }

  &__items {
    border-top-color: $cl-herbal;
    border-bottom-color: $cl-herbal;

    span {
      color: $cl-herbal;
    }
  }
}

.footer-main-menu {
  &__item.active {
    a {
      border-color: $cl-herbal;
    }
  }

  &__link {
    color: $cl-herbal;
    &:before{
      background-image: url('../../img/footer/icon-present-green.svg');
    }
  }
}

.footer-height {
  background-color: $cl-herbal;

  &__menu-item.active,
  &__menu-item:hover {
    background-color: $cl-indian-green;
  }

}

.authorization {

  &__item:first-child {
    border-right-color: $cl-herbal;
  }

  &__item {

    a {
      color: $cl-herbal;
    }
  }
}

.block-gallery {
  &__picture {

    &:hover {

      outline-color: $cl-herbal;
    }
  }

  &__loupe {
    background-color: $cl-herbal;
  }
}

.top-slider {

  &__carousel-item {
    img:hover {
      border-color: $cl-herbal;
    }
  }
  &__carousel-item.active {
    img {
      border-color: $cl-herbal;
    }
  }

  &__carousel-item:hover,
  &__carousel-item.active {
    background: url('../../img/top-slider/bubble-green.svg') 0% 9% no-repeat,
    url('../../img/top-slider/bubble-grey.svg') 12% 2% no-repeat,
    url('../../img/top-slider/bubble-grey.svg') 90% 55% no-repeat;
    background-size: 33px, 18px, 23px;
  }

}

.tab-menu {

  .tab-menu__icon-per,
  .tab-menu__icon-comp {
    background-image: url('../../img/services/per-comp-icon-sprite.svg');
  }

  &__item.active {
    a {
      background-color: $cl-herbal;
    }

    &:after {
      border-top-color: $cl-herbal;
    }

  }

  &__list {
    background-color: $cl-herbal;
  }
}

.tab-menu-page {

  &__item.active {
    a {
      background-color: $cl-herbal;
    }
  }

  &__list {
    background-color: $cl-indian-green;
  }
}

.block-subscribe-sidebar {

  &__form-wrap {
    border-color: $cl-herbal;
  }

}

.form-subscribe-sidebar {
  .form-standart {
    &__field {
      input[type='textarea'],
      input[type='text'] {
        border-color: $cl-herbal;
      }
    }
  }
}

.pagination-m {

  &__previous,
  &__next {

    background-color: $cl-herbal;

  }

  &__num {

    &:hover {
      outline: 3px solid $cl-herbal;
      outline-offset: -3px;
      color: $cl-herbal;
    }
  }

  &__num.is-current {
    background-color: $cl-herbal;

  }

}

.block-detail-slider {

  &__link {

    &:hover {
      outline-color: $cl-herbal,
    }
  }

  &__loupe {
    background-color: $cl-herbal;
  }

  &__carousel.is-color-arrows {
    .slick-prev,
    .slick-next {
      &:before {
        background-color: $cl-herbal;
      }
    }

    .slick-prev:hover,
    .slick-next:hover {
      &:before {
        background-color: $cl-indian-green;
      }
    }

  }

}

.staff {

  &__item {

    img {
      background-color: $cl-herbal;
    }
  }
}

.block-products {
  &__date {
    background-color: $cl-herbal;
  }
}

.block-bonus {
  border-color: $cl-herbal;

  &:before {
    border-bottom-color: $cl-herbal;
  }

  &__name {
    color: $cl-herbal;
  }
}

.block-some-columns {
  &__title {
    background-color: $cl-herbal;
    &:after {
      border-top-color: $cl-herbal;
    }
  }
}

.block-address {
  &__name,
  &__name-mail {
    color: $cl-herbal;
  }
}

.price-big-table {

  &__head-name {
    color: $cl-herbal;
  }

  &__head:nth-child(2) {
    background-image: url("../../img/price-big-table-layer-green.png");
  }

  &__name {
    background-color: $cl-herbal;
  }

  &__data {
    border-color: $cl-herbal;
  }

  &__data:last-child {
    border-right-color: $cl-herbal;
  }

  &__data:nth-child(2) {
    border-left-color: $cl-herbal;
  }

  &__row:nth-child(2) {
    .price-big-table__data {
      border-top-color: $cl-herbal;
    }
  }

  &__row:last-child {
    .price-big-table__data,
    .price-big-table__name {
      border-bottom-color: $cl-herbal;
    }
  }

}

.cleaning-price-wrap {
  .price-big-table__head:nth-child(2) {
    background-image: url("../../img/price-big-table-layer-wp-green.png");
  }
}

.simple-table {
  &__head-name {
    background-color: $cl-herbal;
  }
}

.block-social-top {
  &__link {
    background-color: $cl-herbal;
  }

  &__link:hover {
    background-color: $cl-indian-green;
  }
}

.bind-account {
  &__link:hover {
    background-color: $cl-indian-green;
    background-image: url('../../img/icon-social-sprite-top.svg');
  }
}

.services-list {
  border-color: $cl-herbal;

  &__title {
    color: $cl-herbal;
  }

  &__item:before {
    border-left-color: $cl-herbal;
  }
}

.account-wrap {
  .tab-menu-page__list {
    background-color: $cl-herbal;
  }
}

.block-reviews {

  &__client-item {
    .block-reviews__contents {
      border-color: $cl-herbal;
    }
    .block-reviews__contents {
      &:before {
        border-right-color: $cl-herbal;
      }
    }
  }

  .block-stars__star:hover,
  .block-stars__star.is-full {
    &:before {
      color: $cl-herbal;
    }
  }

}

.block-bonus-accumulation {
  &__img {
    background-image: url('../../img/bonus-modal-icon.png')
  }
  &__name {
    color: $cl-herbal;
  }

}

.btn-close-review {
  background-image: url('../../img/review-close-bg.png');
}

.my-orders-wrap {
  .tab-menu-page__item:after {
    border-top-color: $cl-herbal;
  }
}

.header-slider {
  &__item.kl,
  &__item.kt,
  &__item.ex {
    display: none;
  }
}

.copyright{
  &__contacts{
    background-image: url('../../img/footer/icon-email-green.svg');
  }
}


