doctype html
html
    include ../../includes/head
    include ../../templates/green

body
    include ../../blocks/header
    include ../../blocks/header-slider
    include ../../blocks/content
    include ../../blocks/footer



    include ../../includes/footer




