doctype html
html
    include ../../includes/head
    include ../../templates/blue
body
    include ../../blocks/header
    .row
        .columns.medium-12
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Личный кабинет
                    li.breadcrumbs__item
                        a(href='/index.html') Изменить контактную информацию

    .row
        .columns.small-6.small-centered
            .main-content__title.centered
                h1 Изменить контактную информацию
    .account-wrap
        .row
            .columns.large-12
                .tab-menu-page
                    ul.tab-menu-page__items
                        li.tab-menu-page__item.active
                            .tab-menu-page__icon-per
                            a(href='#persons-page-account') Для физических лиц
                        li.tab-menu-page__item
                            .tab-menu-page__icon-comp
                            a(href='#companies-page-account') Для юридических лиц
                    .tab-menu-page__content
                        .tab-menu-page__content-item.no-scroller(id='persons-page-account')
                        .tab-menu-page__list.is-opened
                            include ../../blocks/user-profile-person
                        .tab-menu-page__content-item.no-scroller(id='companies-page-account')
                        .tab-menu-page__list
                            include ../../blocks/user-profile-companies
    .row
        .columns.small-12
            include ../../blocks/bind-account

    include ../../blocks/footer



    include ../../includes/footer




