doctype html
html
    include ../../includes/head
    include ../../templates/blue
body
    include ../../blocks/header
    .row
        .columns.medium-3.small-4
            .sidebar
                include ../../blocks/tab-menu
                include ../../blocks/block-subscribe-sidebar
        .columns.medium-9.small-8
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Вакансии

            .row
                .columns.large-12
                    .main-content__title
                        h1 Вакансии
            .jobs-wrap
                section.block-some-columns(data-col-class='medium')
                    .row
                        .columns.md
                            .block-some-columns__title
                                span Уборщики помещений
                            .block-some-columns__big-title
                                h6 Должностные обязанности:
                            .block-some-columns__small-text
                                    p уборка всех видов жилых и нежилых помещений
                                      |(в том числе, генеральная уборка);
                                      | уход за напольными покрытиями;
                                      |мойка окон и т.д.
                            .block-some-columns__big-title
                                h6 Требования к кандидату:
                            .block-some-columns__small-text
                                ul.mark-list
                                    li муж/жен
                                    li аккуратность
                                    li исполнительность
                                    li отсутствие вредных привычек

                            .block-some-columns__big-title
                                h6 Условия работы:
                            .block-some-columns__small-text
                                p гибкий график; #[br]объекты в разных районах г. Москвы и МО; #[br]испытательный срок от месяца до трёх; #[br]оплата договорная.
                            .block-some-columns__btn
                                .btn-border-color Отправить запрос

                        .columns.md
                            .block-some-columns__title
                                span Уборщики помещений
                            .block-some-columns__big-title
                                h6 Должностные обязанности:
                            .block-some-columns__small-text
                                p уборка всех видов жилых и нежилых помещений
                                    | (в том числе, генеральная уборка);
                                    | уход за напольными покрытиями;
                                    | мойка окон и т.д.
                            .block-some-columns__big-title
                                h6 Требования к кандидату:
                            .block-some-columns__small-text
                                ul.mark-list
                                    li муж/жен
                                    li аккуратность
                                    li исполнительность
                                    li отсутствие вредных привычек
                                    li граждани РФ и СНГ
                            .block-some-columns__big-title
                                h6 Условия работы:
                            .block-some-columns__small-text
                                p гибкий график; #[br]объекты в разных районах г. Москвы и МО; #[br]испытательный срок от месяца до трёх; #[br]оплата договорная.
                            .block-some-columns__btn
                                .btn-border-color Отправить запрос
                    .row
                        .columns.md
                            .block-some-columns__title
                                span Уборщики помещений
                            .block-some-columns__big-title
                                h6 Должностные обязанности:
                            .block-some-columns__small-text
                                p уборка всех видов жилых и нежилых помещений
                                    | (в том числе, генеральная уборка);
                                    | уход за напольными покрытиями;
                                    | мойка окон и т.д.
                            .block-some-columns__big-title
                                h6 Требования к кандидату:
                            .block-some-columns__small-text
                                ul.mark-list
                                    li муж/жен
                                    li исполнительность
                                    li отсутствие вредных привычек
                                    li граждани РФ и СНГ
                            .block-some-columns__big-title
                                h6 Условия работы:
                            .block-some-columns__small-text
                                p гибкий график; #[br]объекты в разных районах г. Москвы и МО; #[br]испытательный срок от месяца до трёх; #[br]оплата договорная.
                            .block-some-columns__btn
                                .btn-border-color Отправить запрос

                        .columns.md
                            .block-some-columns__title
                                span Уборщики помещений
                            .block-some-columns__big-title
                                h6 Должностные обязанности:
                            .block-some-columns__small-text
                                p уборка всех видов жилых и нежилых помещений
                                    | (в том числе, генеральная уборка);
                                    | уход за напольными покрытиями;
                                    | мойка окон и т.д.
                            .block-some-columns__big-title
                                h6 Требования к кандидату:
                            .block-some-columns__small-text
                                ul.mark-list
                                    li муж/жен
                                    li граждани РФ и СНГ
                            .block-some-columns__big-title
                                h6 Условия работы:
                            .block-some-columns__small-text
                                p гибкий график; #[br]объекты в разных районах г. Москвы и МО; #[br]испытательный срок от месяца до трёх; #[br]оплата договорная.
                            .block-some-columns__btn
                                .btn-border-color Отправить запрос
            .row
                .columns.small-12
                    .strong-text
                        p Ждем Ваше резюме по электронному адресу: job@ochisto.ru  с указанием должности в поле «Тема»
                            |Либо звоните по телефону +7 (495) 649-82-24 с 8 до 22 часов (ежедневно)
                            |Конфиденциальность полученной информации гарантируется



    include ../../blocks/footer



    include ../../includes/footer




