
.about{

  &__title{
    text-align: center;
    margin-top:40px;
    margin-bottom: 25px;
  }

  &__block-items{
    @include bord;
    padding: 40px 20px;
    position: relative;
    @include cornerTop;

    .columns {
      padding:5px;
    };

  }

  &__block-item{
    text-align: center;

  }

  &__block-item-counts{
    font-size: (74/16)+em;
    line-height: 1em;
    font-weight: bold;
    color: $cl-moderate-orange-yellow;
    display: block;

    &:after{
      content: '';
      height: 75px;
      width: 72px;
      background-image: url('../img/about/about-icon-sprite.svg');
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 100%;
      margin-left: 10px;
    }
  }

  #clean:after{
    background-position: 0 -140px;

  }
  #review:after{
    background-position: 0 0px;
  }
  #garbage:after{
    background-position: 0 -281px;
  }

  &__block-item-description{
    text-transform: uppercase;
    font-weight: bold;

  }
}