
.about{

  &__title{
    text-align: center;
    margin-top:2.5rem;
    margin-bottom: 1.5625rem;
  }

  &__block-items{
    @include bord;
    padding: 2.5rem 1rem;
    position: relative;
    @include cornerTop;

    .columns {
      padding:5px;
    };

  }

  &__block-item{
    text-align: center;

  }

  &__block-item-counts{
    font-size: (74/16)+em;
    line-height: 1em;
    font-weight: bold;
    color: $cl-moderate-orange-yellow;
    display: block;

    &:after{
      content: '';
      height: 4.6875rem;
      width: 4.6875rem;
      background-image: url('../img/about/about-icon-sprite.svg');
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 100% auto;
      margin-left: 10px;

    }
  }

  #clean:after{
    background-position: 0 50%;

  }
  #review:after{
    background-position: 0 0;
  }
  #garbage:after{
    background-position: 0 99%;
  }

  &__block-item-description{
    text-transform: uppercase;
    font-weight: bold;

  }
}