.authorization {
  text-align: right;


  &__items{
    margin:0;
    line-height: 2.9375rem;
  }

  &__item {
    display: inline-block;
    a {
      font-size: (14/16)+em;

      @media #{$media-phone}{
        font-size: 1.4em;
      }
    }
  }


  &__item:first-child {

    a{
      border-right: 1px solid transparent;
      padding-right: 1.125rem;
    }
  }
  &__item:last-child {
    a{
      padding-left: 1.125rem;
    }

  }

  &__item.is-authorized {
    position: relative;

    &:after{
      content: '';
      width: 1.875rem;
      height: 1.875rem;
      background-size: 98%;
      background-repeat: no-repeat;
      background-position: center top;
      display: inline-block;
      vertical-align: middle;

      @media #{$media-phone-landscape} {
        background-position: center -2px;
      }

      @media #{$media-phone} {
        background-position: center top;
      }

    }

    a{
      border-right: none;
    }
  }

  &__item.is-authorized:hover > .authorization__items-second-lvl{
    display: block;
  }

  &__items-second-lvl{
    position: absolute;
    margin: 0;
    min-width: 8.125rem;
    z-index: 3;
    text-align: center;
    display: none;
    right: 0;

    @media #{$media-phone-landscape} {
      right: inherit;
    }

    @media #{$media-phone} {
      right: 0;
    }
  }

  &__item-second-lvl{
    position: relative;
    @include cornerTopWhite(8, 0);

    &:after{
      border-top: 8px solid white;
      border-bottom: 0;
    }

    a{
      color: $cl-real-white !important;
      font-weight: bold;
      font-size: (14/16)+em;
      line-height: 2.5rem;
    }
  }
}