.block-payment{
  margin-top: 2.5rem;

  &__items{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding-bottom: 1.5625rem;
    padding-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item{
    margin: 0 1.2%;
    vertical-align: middle;

    img{
      height: 35px;
    }


    span{
      text-transform: uppercase;
      font-weight:bold;
      font-size: (14/16)+em;
      display: block;
    }
  }

  #paypal{
    img{
      height:27px;
    }
  }
  #mts{
    img{
      height:43px;
    }
  }

  #okpay{
    img {
      height:22px;
    }
  }

  #qiwi{
    img{
      height: 66px;
    }
  }

  #cash{

    img{
      margin-top: 24px;
      margin-bottom: 4px;
    }
  }


}