.block-subscribe{
  margin-bottom: 5.625rem;

  &__title{
    text-align: center;
    margin-top: 4.375rem;
    margin-bottom: 1.5625rem
  }

  &__form-wrap{
    position: relative;
    @include bord;
    @include cornerTop;
    padding: 0 50px;
    
    span{
      font-size: (84/16)+em;
      color: $cl-moderate-orange-yellow;
      font-weight:bold;
      display: block;
      width: 100%;
      text-align: center;
    }

  }
}