.block-order{
  &__title{
    text-align: center;
    margin-top: 80px;
    margin-bottom:30px;
  }

  &__form-wrap{
    padding: 50px 0;
    position: relative;
    background: $cl-shamrock-crayola url('../img/bubble-white-icon.svg') no-repeat 23% 89%;
    background-size: 170px;
  }

  &__form-wrap-2{
    background: url('../img/bubble-white-icon-2.svg') no-repeat 81% 12%;
    background-size: 70px;
  }
}