.block-address-wrap {
  margin-bottom: 35px;
  padding-bottom: 35px;
  @media #{$media-phone-landscape} {
    padding-bottom: 0;
  }

  .small-text {
    font-size: (16/16)+em;
    padding-bottom:0;
  }

  h5 {
    width: 70%;
    line-height: 1.3em;
    margin-bottom: 0;
  }

}

.block-address-wrap:last-child {
  margin-bottom:0;
  padding-bottom:0;
}

.block-address-wrap:not(:last-child) {
  @include borB;
}