.block-order{
  &__title{
    text-align: center;
    margin-top: 60px;
    margin-bottom:30px;
  }

  &__form-wrap{
    padding: 3.125rem 0;
    position: relative;
    background:  url('../img/bubble-white-icon.svg') no-repeat 23% 89%,
                 url('../img/bubble-white-icon-2.svg') no-repeat 81% 12%;
    background-size: 170px, 70px;

    @media #{$media-phone-landscape}{
      background-position: 5% 89%, 93% 6%;
      background-size: 120px, 50px;
    }

  }

}