.block-some-columns{
  .columns.first{
    padding-right:0;
    padding-left: 0.78125rem;
  }

  .columns.last{
    padding-left:0;
    padding-right: 0.78125rem;
  }
  .columns{
    padding-left: 1px;
    padding-right: 1px;
  }

  .columns.is-only-one:first-child{
    padding-right:1px;
    padding-left: 0.78125rem;
  }

  .columns.md{
    @media #{$media-phone-landscape} {
      padding: 0 0.625rem;;
    }
  }

  .columns.sm{
    @media #{$media-phone} {
      padding: 0 0.625rem;;
    }
  }

  &__title{
    position: relative;
    color: $cl-real-white;
    text-transform: uppercase;
    font-size:(14/16)+em;
    text-align: center;
    font-weight:bold;
    height: 3.125rem;
    line-height:1.3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.875rem;
    @include cornerBottomWhite(7, -14);

  }

  &__text{
    width: 90%;
  }
  
  &__link{
    text-align: center;
    margin: 1rem 0;
  }

  &__link-item{
    font-family: 'RobotoLight', sans-serif;
    text-decoration: none;
    border-bottom: 1px solid $cl-light-grey;
    font-size: (14/16)+em;

    &:hover{
      bottom: 1px solid transparent;
    }
  }

  &__big-title{
    margin-bottom: 1.875rem;
    h6{
      font-size: (18/16)+em;
      font-weight: bold;
    }
  }

  &__small-text{
    width: 70%;
    font-size: (14/16)+em;
    font-family: 'RobotoLight', sans-serif;
    color: $cl-motherblackberry;
  }

  .mark-list{
    margin-left:0;
    margin-bottom: 1.875rem;
  }

  &__btn{
    margin-top: 1.125rem;
  }
}