.copyright{
  text-align: left;
  &__logo{
    max-width: 185px;
    margin: 30px 0 22px 0;
  }

  &__date {
    margin-bottom: 38px;
  }

  &__contacts{
    padding-left: 3.9375rem;
    @include bgsvg('footer/icon-email.svg');
    background-size: 2.875rem;
    cursor: pointer;
    background-position: left center;
  }
  
  a{
    color: $cl-black-brown;
  }
}