.block-price{
&__title{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}  
}

.price-table {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 70px;

  &__title {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: (18/16)+em;
    line-height: (23/18)+em;
    color: $cl-moderate-orange-yellow;
  }

  tbody {
    border: none;
    tr {
      background-color: transparent !important;
    }
  }

  tr:nth-child(2){
    box-shadow: inset 0 -8px 0px -4px transparent;
  }

  .test {

  }
  &__param {
    padding: 88px 0 17px 0;
    width: 20%;
    font-size: (28/16)+em;
    background-position: left bottom;
    -webkit-background-size: 80%;
    background-size: 80%;
    background-repeat: no-repeat;

  @media #{$media-tablet} {
    padding: 60px 0 17px 0;
    font-size: 1.6em;
  }

    strong {
      position: relative;
      left: -15%;
    }

    span {
      font-size: (18/30)+em;
      font-weight: bold;

      @media #{$media-tablet} {
        font-size: 0.6em;
      }
    }
  }

  &__param:nth-child(1) {
    background-image: url('../img/price/price-icon-1.svg');
    -webkit-background-size:73%;
    background-size:73%;

  }

  &__param:nth-child(2) {
    background-image: url('../img/price/price-icon-2.svg');
    -webkit-background-size:90%;
    background-size:93%;

    strong {
      left: -10%;
    }

  }

  &__param:nth-child(3) {
    background-image: url('../img/price/price-icon-3.svg');
    background-size: 61%;
    background-position: center bottom;

    strong{
      left: 0;
    }

  }

  &__param:nth-child(4) {
    background-image: url('../img/price/price-icon-4.svg');
    background-size: 77%;
    background-position: center bottom;

    strong{
      left:-7%;
    }

  }

  &__param:nth-child(5) {
    background-image: url('../img/price/price-icon-5.svg');
    background-position: right bottom;
    background-size: 88%;

    strong {
      left: 8%;
    }
  }

  &__price {
    font-size: (30/16)+em;
    span {
      position: relative;
      left: -14%;

      @media #{$media-tablet} {
        font-size: 0.9em;
      }
    }
  }

  &__price:nth-child(3){
    span{
      left: 0;
    }
  }

  &__price:nth-child(4){
    span{
      left: -7%;
    }
  }

  &__price:last-child {
    span {
      left: 0;
    }
  }
}