.block-price{
&__title{
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}  
}

.price-table {
  text-align: center;

  &__title {
    text-align: left;
    text-transform: uppercase;
    padding:0;
    font-weight: bold;
    font-size: (18/16)+em;
    line-height: (23/18)+em;
    color: $cl-moderate-orange-yellow;
  }

  &__title.first{
    position: relative;
    top: 1rem;

    @media #{$media-phone-landscape} {
      top: 2rem;
    }
  }

  tbody {
    border: none;
    tr {
      background-color: transparent !important;
    }
  }

  tr:nth-child(2){
    box-shadow: inset 0 -0.5rem 0px -0.25rem transparent;
  }

  &__small{
    font-size: (18/16)+em;
    font-weight: bold;
  }

  &__big{
    font-size: (30/16)+em;
    font-weight: bold;

  }

  &__param-name{
    position: relative;
    left: -15%;
  }

  &__param {
    height: 9.1875rem;
    width: 20%;
    vertical-align: bottom;
    background-position: left bottom;
    background-size: 80%;
    background-repeat: no-repeat;

    @media #{$media-phone-landscape}{
      font-size: 9px;
    }

    @media #{$media-phone}{
      font-size: 6px;
    }

  }

  &__param:nth-child(1) {
    background-image: url('../img/price/price-icon-1.svg');
    background-size:75%;

    @media #{$media-phone-landscape}  {
      background-size: 82%;
    }

  }

  &__param:nth-child(2) {
    background-image: url('../img/price/price-icon-2.svg');
    background-size:93%;

    @media #{$media-phone-landscape}  {
      background-size: 100%;
    }

    .price-table__param-name {
      left: -10%;
    }

  }

  &__param:nth-child(3) {
    background-image: url('../img/price/price-icon-3.svg');
    background-size: 63%;
    background-position: center bottom;

    @media #{$media-phone-landscape}  {
      background-size: 70%;
    }

    .price-table__param-name{
      left: 0;
    }

  }

  &__param:nth-child(4) {
    background-image: url('../img/price/price-icon-4.svg');
    background-size: 77%;
    background-position: center bottom;

    @media #{$media-phone-landscape}  {
      background-size: 90%;
    }

    .price-table__param-name{
      left:-7%;
    }

  }

  &__param:nth-child(5) {
    background-image: url('../img/price/price-icon-5.svg');
    background-position: right bottom;
    background-size: 88%;

    @media #{$media-phone-landscape}  {
      background-size: 100%;
    }

    .price-table__param-name {
      left: 8%;

      @media #{$media-phone-landscape}  {
        left: 4%;
      }
    }
  }

  &__price {
    font-size: (30/16)+em;

    @media #{$media-phone}{
      font-size: (22/16)+em;
    }


    span {
      position: relative;
      left: -14%;

      @media #{$media-tablet} {
        font-size: 0.9em;
      }
    }
  }

  &__price:nth-child(3){
    span{
      left: 0;
    }
  }

  &__price:nth-child(4){
    span{
      left: -7%;
    }
  }

  &__price:last-child {
    span {
      left: 8%;

    }
  }
}