.search-bar{
  width: 217px;
  position: relative;
  margin:1.0625rem auto;
  padding: 0.625rem 0;


  &__input,
  &__input:focus{
    border-radius: 30px;
    box-shadow: none;
    border: 1px solid #d1d3d4;
    height: 1.875rem;
    margin: 0;


  }

  &__label{
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    @include bgsvg('icon-search.svg');
    cursor: pointer;

  }
}


