.staff{

  .columns{
    padding: 0;
  }

&__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
  
  &__item{
    text-align: center;
    flex-basis: 26%;

    img{
      border-radius:50%;
      @include bord;
    }

  }
  
  &__name{
    display: block;
    font-size:(24/16)+em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    margin: 12px 0 4px 0;
  }
  &__position{
    display: block;
    font-family: 'RobotoLight', sans-serif;
    font-size: 1em;
    color: $cl-motherblackberry;
    margin-bottom: 20px;
  }
}