.tab-menu{

  font-weight: bold;
  text-transform: uppercase;

  a{
    color: $cl-real-white;
  }

  &__items{
    margin:0;
  }

  .tab-menu__icon-per,
  .tab-menu__icon-comp{
    height: 65px;
    width: 100%;
    -webkit-background-size:38px auto;
    background-size: 38px auto;
    background-repeat: no-repeat;

  }

  .tab-menu__icon-per{
    background-position: center 28.68%;
  }

  .tab-menu__icon-comp{
    background-position: center 66.6%;
  }
  

  &__item{
    width: 49%;
    display: inline-block;
    text-align: center;
    position: relative;

    a{
      font-size:(12/16)+em;
      display: block;
      padding: 7px 8px;
      line-height:1.4em;
      background: $cl-pale-blue;
    }
  }
  &__item.active{
    @include cornerBottomWhite(7, -13);

    .tab-menu__icon-per{
      background-position: center -5%;
    }
    .tab-menu__icon-comp{
      background-position: center 106%;
    }

  }

  &__item:last-child{
    margin-left: 2%;
  }

  &__content{
    position: relative;
    margin-top:30px;
  }

  &__list{
    display: none;
    margin:0;
    text-align: center;
  }

  &__list-item{
    padding: 15px 0;
    border-bottom: 1px solid $cl-real-white;
    position: relative;
    @include cornerBottomWhite(7, -15);
    line-height: 1em;
    height: 43px;

    a{
      font-size:(14/16)+em;
      vertical-align: middle;
    }
  }


    &__list-item:last-child{
      border-bottom:none;
      &:after{
        display: none;
      }
    }
  

  &__content-item.no-scroller{
    display: none;
    
  }

  &__list.is-opened{
    display: block;
    z-index: 1;
  }

  &__content-item.no-scroller:target + .tab-menu__list{

      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 2;
    }

  &__content-item.no-scroller:target + .tab-menu__list.is-opened{
      position: relative;
    }

  
}