.block-order-wrap{
  padding: 3.125rem 0;
  position: relative;
  background:  url('../img/bubble-white-icon.svg') no-repeat 22% 86%,
  url('../img/bubble-white-icon-2.svg') no-repeat 84% 24%;
  background-size: 170px, 70px;
  @include cornerTopWhite(10,-20);

  @media #{$media-tablet}{
    background-position: 22% 86%, 86% 24%;
    background-size: 136px, 56px;

  }

  @media #{$media-phone-landscape}{
    background-position: 9% 86%, 98% 24%;
    background-size: 120px, 50px;
  }
}