.cleaning-price-wrap{
  .price-big-table{
    margin-top:0;
    margin-bottom: 4.0625rem;
  }
  .price-big-table__head:nth-child(2) {
    background-image: url("price-big-table-wp.png");
    height: 7.9375rem;
  }
  .price-big-table__name{
    width: 30%;
  }
}