doctype html
html
    include ../../includes/head
    include ../../templates/siz
body
    include ../../blocks/header
    .row
        .columns.medium-3.small-4
            .sidebar
                include ../../blocks/tab-menu
                include ../../blocks/block-subscribe-sidebar
        .columns.medium-9.small-8
            .breadcrumbs
                ul.breadcrumbs__items
                    li.breadcrumbs__item
                        a(href='/index.html') Главная
                    li.breadcrumbs__item
                        a(href='/index.html') Акции
            .row
                .columns.large-12
                    .main-content__title
                        h1 Акции

            section.block-products
                .block-products__item
                    .row
                        .columns.medium-6
                                .block-products__pic
                                    img.block-products__img(src='../img/products/pic-1.png')
                        .columns.medium-6
                                .block-products__description
                                    .block-products__name
                                        a.block-products__link(href='#') Название акции 1
                                    .block-products__text
                                        .small-text
                                            p Lorem ipsum dolor sit amet, consectetur
                                                |adipiscing elit. Aenean euismod bibendum
                                                |laoreet. Proin gravida dolor sit amet lacus
                                                |accumsan et viverra justo commodo
                                    .block-products__btn.left
                                        .btn-border-color-thin Подробнее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                        .columns.medium-6
                            .block-products__description
                                .block-products__name
                                    a.block-products__link(href='#') Название акции 2
                                .block-products__text
                                    .small-text
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left
                                    .btn-border-color-thin Подробнее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                        .columns.medium-6
                            .block-products__description
                                .block-products__name
                                    a.block-products__link(href='#') Название акции 3
                                .block-products__text
                                    .small-text
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left
                                    .btn-border-color-thin Подробнее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                        .columns.medium-6
                            .block-products__description
                                .block-products__name
                                    a.block-products__link(href='#') Название акции 4
                                .block-products__text
                                    .small-text
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left
                                    .btn-border-color-thin Подробнее
                .block-products__item
                    .row
                        .columns.medium-6
                            .block-products__pic
                                img.block-products__img(src='../img/products/pic-1.png')
                        .columns.medium-6
                            .block-products__description
                                .block-products__name
                                    a.block-products__link(href='#') Название акции 5
                                .block-products__text
                                    .small-text
                                        p Lorem ipsum dolor sit amet, consectetur
                                            | adipiscing elit. Aenean euismod bibendum
                                            | laoreet. Proin gravida dolor sit amet lacus
                                            | accumsan et viverra justo commodo
                                .block-products__btn.left
                                    .btn-border-color-thin Подробнее
            .row
                .columns.large-9.large-offset-3
                    include ../../blocks/pagination


    include ../../blocks/footer



    include ../../includes/footer




