.block-social-top
    a.block-social-top__link.-vk(href='', title='Vk')
    a.block-social-top__link.-facebook(href='', title='Facebook')
    a.block-social-top__link.-odnoklassniki(href='', title='Odnoklassniki')
    a.block-social-top__link.-twitter(href='', title='Twitter')
    a.block-social-top__link.-youtube(href='', title='Youtube')
    a.block-social-top__link.-instagram(href='', title='Instagram')


