section.block-payment
    .row
        .columns.medium-12
            .block-payment__items
                .block-payment__item(id="cash")
                    img(src='../img/payment/pic-1.svg')
                    span наличные
                .block-payment__item(id="visa")
                    img(src='../img/payment/pic-2.svg')
                .block-payment__item(id="webmoney")
                    img(src='../img/payment/pic-3.svg')
                .block-payment__item(id="sber")
                    img(src='../img/payment/pic-4.svg')
                .block-payment__item(id="yandex-money")
                    img(src='../img/payment/pic-5.svg')
                .block-payment__item(id="qiwi")
                    img(src='../img/payment/pic-6.svg')
                .block-payment__item(id="paypal")
                    img(src='../img/payment/pic-7.svg')
                .block-payment__item(id="mts")
                    img(src='../img/payment/pic-8.svg')
                .block-payment__item(id="okpay")
                    img(src='../img/payment/pic-9.svg')

