.block-bonus
    .block-bonus__items
        .block-bonus__item
            .block-bonus__img
            span.block-bonus__name Баллы постоянным #[br]покупателям
        .block-bonus__item
            .block-bonus__img
            span.block-bonus__name Баллы за #[br]видео отзыв
        .block-bonus__item
            .block-bonus__img
            span.block-bonus__name Баллы за #[br]репост в соцсетях

