section.block-subscribe
    .row
        .columns.medium-12
            .block-subscribe__title
                h2 Подпишись и получай #[<br>] скидку на почту!!!
    .row
        .columns.medium-12
            .block-subscribe__form-wrap
                .row
                    .columns.medium-1
                        span %
                    .columns.medium-10
                        .form-standart.form-subscribe.form-white
                            form
                                .form-standart__fields-list
                                    .form-standart__field
                                        .form-standart__label Ваше имя:
                                        .form-standart__item
                                            input.inputtext(type='text', name='')
                                    .form-standart__field
                                        .form-standart__label Ваш Email:
                                        .form-standart__item
                                            input.inputtext(type='text', name='')
                                    .form-standart__field
                                        .form-standart__item
                                            input.btn-color(type='submit', name='', value='Подписаться' )
                    .columns.medium-1

