.block-social-page
    .block-social-page__title
        span Рассказать друзьям:
    a.block-social-page__link.-vk(href='', title='Vk')
    a.block-social-page__link.-facebook(href='', title='Facebook')
    a.block-social-page__link.-twitter(href='', title='Twitter')
    a.block-social-page__link.-odnoklassniki(href='', title='Odnoklassniki')

