header
    .top-height
        .row
            .columns.xsmall-2.small-12.medium-9
                ul.top-height__menu
                    li.top-height__menu-item(id='clining').active
                        a(href='sea-index.html') Клининг
                    li.top-height__menu-item(id='desinfekciya')
                        a(href='green-index.html') Дезинфекция
                    li.top-height__menu-item(id='expertizy')
                        a(href='siz-index.html') Экспертизы
                    li.top-height__menu-item(id='ventilyaciya')
                        a(href='blue-index.html') Вентиляция и кондиционирование
                ul.button-menu-lines
                    li.button-menu-lines__line
                    li.button-menu-lines__line
                    li.button-menu-lines__line
                    li.button-menu-lines__line
            .columns.xsmall-8.small-12.medium-3
                .authorization-wrap
                include block-social-top.jade


    .top-contacts
        .row
            .columns.xsmall-3.medium-3
                .top-contacts__logo
                    img(alt='Клининговая компания', src='../img/logo.svg')
            .columns.hide-for-xsmall-only.hide-for-small-only.medium-4
                .search-bar-wrap
                    .search-bar
                        input.search-bar__input(type='text')
                        label.search-bar__label
            .columns.xsmall-9.medium-5
                .top-contacts__btn-wrap
                    .button-m Оставить заявку
                    .top-contacts__phone
                        nobr +7(499) 110-48-49
                        a
                            span Обратный звонок


    .row
        .columns.medium-12
            .top-menu
                .row
                    .columns.medium-9.small-12.xsmall-4
                        ul.top-menu__items
                            li.top-menu__item
                                a(href="#") Главная
                                span
                            li.top-menu__item
                                a(href="#") О компании
                                span
                                ul.top-menu__items-second-lvl
                                    li.top-menu__item-second-lvl
                                        a(href='#') Истории успеха
                                    li.top-menu__item-second-lvl
                                        a(href='#') Истории успеха
                                    li.top-menu__item-second-lvl
                                        a(href='#') Истории успеха
                            li.top-menu__item
                                a(href="#") Услуги
                                span
                            li.top-menu__item
                                a(href="#") Цены
                                span
                                ul.top-menu__items-second-lvl
                                    li.top-menu__item-second-lvl
                                        a(href='#') Квартиры
                                    li.top-menu__item-second-lvl
                                        a(href='#') Дома
                                    li.top-menu__item-second-lvl
                                        a(href='#') Загородные дома
                            li.top-menu__item
                                a(href="#") Отзывы
                                span
                            li.top-menu__item
                                a(href="#") Акциии
                                span
                                ul.top-menu__items-second-lvl
                                    li.top-menu__item-second-lvl
                                        a(href='#') Истории успеха
                                    li.top-menu__item-second-lvl
                                        a(href='#') Истории успеха
                                    li.top-menu__item-second-lvl
                                        a(href='#') Истории успеха
                            li.top-menu__item
                                a(href="#") Вакансии
                                span
                            li.top-menu__item
                                a(href="#") Контакты
                                span
                        ul.button-menu-lines
                            li.button-menu-lines__line
                            li.button-menu-lines__line
                            li.button-menu-lines__line
                            li.button-menu-lines__line
                        .mobile-menu
                            ul.mobile-menu__items
                                li.mobile-menu__item
                                    a(href="#") Главная
                                    span
                                li.mobile-menu__item
                                    a(href="#") О компании
                                    span
                                    ul.mobile-menu__items-second-lvl
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Истории успеха
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Истории успеха
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Истории успеха
                                li.mobile-menu__item
                                    a(href="#") Услуги
                                    span
                                li.mobile-menu__item
                                    a(href="#") Цены
                                    span
                                    ul.mobile-menu__items-second-lvl
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Квартиры
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Дома
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Загородные дома
                                li.mobile-menu__item
                                    a(href="#") Отзывы
                                    span
                                li.mobile-menu__item
                                    a(href="#") Акциии
                                    span
                                    ul.mobile-menu__items-second-lvl
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Истории успеха
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Истории успеха
                                        li.mobile-menu__item-second-lvl
                                            a(href='#') Истории успеха
                                li.mobile-menu__item
                                    a(href="#") Вакансии
                                    span
                                li.mobile-menu__item
                                    a(href="#") Контакты
                                    span
                    .columns.medium-3.small-12.xsmall-6
                        .authorization-wrap
                            .authorization
                                ul.authorization__items
                                    li.authorization__item.is-authorized
                                        a(href='') Личный кабинет










