.header-slider
    .header-slider__title
        h1 Клининговая #[br]компания
    .header-slider__items
        <!--Клининг-->
        .header-slider__item.kl.persons.active
            img(src='../img/kl-person-main-header.png')
            .header-slider__menu-item.i-1(data-x='238',data-y='82')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-2(data-x='159',data-y='200')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-3(data-x='305',data-y='140')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-4(data-x='541',data-y='176')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-5(data-x='878',data-y='120')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-6(data-x='575',data-y='416')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-7(data-x='958',data-y='450')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-8(data-x='1000',data-y='312')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='1200',data-y='138')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]



        .header-slider__item.kl.companies
            img(src='../img/kl-companies-main-header.png')
            .header-slider__menu-item.i-1(data-x='238',data-y='80')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-2(data-x='165',data-y='210')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-6(data-x='594',data-y='152')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-9(data-x='785',data-y='138')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-5(data-x='1108',data-y='60')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]
            .header-slider__menu-item.i-7(data-x='786',data-y='385')
                .menu-icons
                a(href='#') #[span Полировака растений <br> уборка аквариумов]

         <!--Дезинфекция-->
        .header-slider__item.dz.persons.active
            img(src='../img/dz-person-main-header.png')
            .header-slider__menu-item.i-1(data-x='238',data-y='82')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]

        .header-slider__item.dz.companies
            img(src='../img/dz-companies-main-header.png')
            .header-slider__menu-item.i-1(data-x='238',data-y='82')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]

        <!--Экспертизы-->

        .header-slider__item.ex.companies.active
            img(src='../img/ex-companies-main-header.png')
            .header-slider__menu-item.i-1(data-x='238',data-y='82')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]

        <!--Вентиляция-->
        .header-slider__item.kt.persons.active
            img(src='../img/kt-person-main-header.png')
            .header-slider__menu-item.i-1(data-x='238',data-y='82')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]

        .header-slider__item.kt.companies
            img(src='../img/kt-companies-main-header.png')
            .header-slider__menu-item.i-1(data-x='238',data-y='82')
                .menu-icons
                a(class='link-icon',href='#') #[span Полировака растений <br> уборка аквариумов]




.row
    .columns.medium-12
        .header-slider__checkbox-wrap
            label(for="custom-checkbox") Для физических лиц
            input(type="checkbox" class="custom-checkbox" id="custom-checkbox")
            label(for="custom-checkbox") Для юридических лиц

