.mobile-menu
    ul.mobile-menu__items
        li.mobile-menu__item
            a(href="#") Главная
            span
        li.mobile-menu__item
            a(href="#") О компании
            span
            ul.mobile-menu__items-second-lvl
                li.mobile-menu__item-second-lvl
                    a(href='#') Истории успеха
                li.mobile-menu__item-second-lvl
                    a(href='#') Истории успеха
                li.mobile-menu__item-second-lvl
                    a(href='#') Истории успеха
        li.mobile-menu__item
            a(href="#") Услуги
            span
        li.mobile-menu__item
            a(href="#") Цены
            span
            ul.mobile-menu__items-second-lvl
                li.mobile-menu__item-second-lvl
                    a(href='#') Квартиры
                li.mobile-menu__item-second-lvl
                    a(href='#') Дома
                li.mobile-menu__item-second-lvl
                    a(href='#') Загородные дома
        li.mobile-menu__item
            a(href="#") Отзывы
            span
        li.mobile-menu__item
            a(href="#") Акциии
            span
            ul.mobile-menu__items-second-lvl
                li.mobile-menu__item-second-lvl
                    a(href='#') Истории успеха
                li.mobile-menu__item-second-lvl
                    a(href='#') Истории успеха
                li.mobile-menu__item-second-lvl
                    a(href='#') Истории успеха
        li.mobile-menu__item
            a(href="#") Вакансии
            span
        li.mobile-menu__item
            a(href="#") Контакты
            span
