.simple-table
    table.simple-table__table
        tr.simple-table__main-row
            th.simple-table__head-name Услуга
            th.simple-table__head-name Площадь(кв.м)
            th.simple-table__head-name Стоимость
            th.simple-table__head-name Состояние
            th.simple-table__head-name Операция
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Разовая уборка квартир
            td.simple-table__data 40
            td.simple-table__data 1 500
            td.simple-table__data Активен
            td.simple-table__link
                a.simple-table__link-item(href='') Отменить
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Мойка люстр
            td.simple-table__data 40
            td.simple-table__data 1 500
            td.simple-table__data Ждет оплаты
            td.simple-table__link
                a.simple-table__link-item(href='') Оплатить
                a.simple-table__link-item(href='') Отменить
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Мойка люстр
            td.simple-table__data 50
            td.simple-table__data 1 500
            td.simple-table__data Ждет оплаты
            td.simple-table__link
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Мойка люстр
            td.simple-table__data 40
            td.simple-table__data 5 300
            td.simple-table__data Выполнен
            td.simple-table__link
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Мойка люстр
            td.simple-table__data 40
            td.simple-table__data 1 500
            td.simple-table__data Отменен
            td.simple-table__link
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Мойка люстр
            td.simple-table__data 40
            td.simple-table__data 10 500
            td.simple-table__data Выполнен
            td.simple-table__link
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Мойка люстр
            td.simple-table__data 40
            td.simple-table__data 10 500
            td.simple-table__data Выполнен
            td.simple-table__link
        tr.simple-table__row
            td.simple-table__link
                a.simple-table__link-item(href='#', title='') Мойка люстр
            td.simple-table__data 40
            td.simple-table__data 10 500
            td.simple-table__data Выполнен
            td.simple-table__link