.pagination-m
    ul.pagination-m__items
        li.pagination-m__previous
            a(href='') Назад
        li.pagination-m__num.is-current
            span 1
        li.pagination-m__num
            a(href="#") 2
        li.pagination-m__num
            a(href="#") 3
        li.pagination-m__num
            a(href="#") 4
        li.pagination-m__num
            a(href="#") 5
        li.pagination-m__next
            a(href="#") Вперед

