table.price-table
    tr
        td.price-table__title.first(colspan="5") Площадь помещения, М²
    tr
        td.price-table__param
            .price-table__param-name
                span.price-table__small до&nbsp;
                strong.price-table__big 40&nbsp;
                span.price-table__small М²
        td.price-table__param
            .price-table__param-name
                span.price-table__small
                strong.price-table__big 41-50&nbsp;
                span.price-table__small М²
        td.price-table__param
            .price-table__param-name
                span.price-table__small
                strong.price-table__big 51-60&nbsp;
                span.price-table__small М²
        td.price-table__param
            .price-table__param-name
                span.price-table__small
                strong.price-table__big 61-70&nbsp;
                span.price-table__small М²
        td.price-table__param
            .price-table__param-name
                span.price-table__small
                strong.price-table__big 71-80&nbsp;
                span.price-table__small М²
    tr
        td.price-table__price
            span 3 900 Р
        td.price-table__price
            span 4 900 Р
        td.price-table__price
            span 5 800 Р
        td.price-table__price
            span 6 300 Р
        td.price-table__price
            span 6 900 Р
    tr
        td.price-table__title.last(colspan="5") Стоимость, руб

