section.top-slider
    .row
        .columns.large-12
            ul.top-slider__carousel
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-1.png')
                        img( src="../img/top-slider/pic-1.png", alt="")
                    .top-slider__title Уборка #[br]снега
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-2.png')
                        img( src="../img/top-slider/pic-2.png", alt="")
                    .top-slider__title Уборка #[br]квартир
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-3.png')
                        img( src="../img/top-slider/pic-3.png", alt="")
                    .top-slider__title Уборка #[br]частных домов
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-4.png')
                        img( src="../img/top-slider/pic-4.png", alt="")
                    .top-slider__title Уборка #[br]коттеджей
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-5.png')
                        img( src="../img/top-slider/pic-5.png", alt="")
                    .top-slider__title Уборка #[br]после пожара
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-1.png')
                        img( src="../img/top-slider/pic-1.png", alt="")
                    .top-slider__title Уборка #[br]снега
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-2.png')
                        img( src="../img/top-slider/pic-2.png", alt="")
                    .top-slider__title Уборка #[br]квартир
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-3.png')
                        img( src="../img/top-slider/pic-3.png", alt="")
                    .top-slider__title Уборка #[br]частных домов
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-4.png')
                        img( src="../img/top-slider/pic-4.png", alt="")
                    .top-slider__title Уборка #[br]коттеджей
                    .btn-border-color Заказать
                li.top-slider__carousel-item
                    a(href='../img/top-slider/pic-5.png')
                        img( src="../img/top-slider/pic-5.png", alt="")
                    .top-slider__title Уборка #[br]после пожара
                    .btn-border-color Заказать

