.form-standart__title
    h4 Профиль пользователя
.form-standart.form-profile-companies.form-color
    form
        .form-standart__fields-list
            .form-standart__field
                .form-standart__item
                    .inputfile__text Карточка организации
                    input.inputfile(type="file" name="")
            .btn-color Загрузить
            .form-standart__comment
                    span Чтобы не заполнять все вручную, можно прикрепить карточку организации
            .form-standart__field
                .form-standart__label ИНН #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label КПП #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label БИК #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Р/с #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label ОГРН #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label ОКЛО #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label КОР.СЧЕТ #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label НАИМЕНОВАНИЕ БАНКА #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label ЮРИДИЧЕСКИЙ АДРЕС #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label ФАКТИЧЕСКИЙ АДРЕС #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__title
                h4 Контактное лицо
            .form-standart__field
                .form-standart__label Ваше имя #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Ваш email #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="" data-fieldname="email")
            .form-standart__field
                .form-standart__label Ваша фамилия #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Доп телефон #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="" data-fieldname="phone")
            .form-standart__field
                .form-standart__label Ваше отчество #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Ваш телефон #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="" data-fieldname="phone")
            .form-standart__comment
                span * - поля, обязательные для заполнения
            .form-standart__field
                .form-standart__label
                .form-standart__item
                    input.btn-color(type="submit" name="" value='Сохранить')
