.form-standart__title
    h4 Адрес пользователя
.form-standart.form-address.form-color
    form
        .form-standart__fields-list
            .form-standart__field
                .form-standart__label Ваш город #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Ваша улица #[span *]
                .form-standart__item
                    input.inputtext(type="text" name="")
            .form-standart__flex-wrap
                .form-standart__field
                    .form-standart__label Дом #[span *]
                    .form-standart__item
                        input.inputtext(type="text" name="")
                .form-standart__field
                    .form-standart__label Корпус
                    .form-standart__item
                        input.inputtext(type="text" name="")
                .form-standart__field
                    .form-standart__label Строение
                    .form-standart__item
                        input.inputtext(type="text" name="")
                .form-standart__field
                    .form-standart__label Квартира
                    .form-standart__item
                        input.inputtext(type="text" name="")
            .form-standart__field
                .form-standart__label Здесь можно указать любую дополнительную информацию, которая может быть нам полезна для доставки
                                        |Вашего заказа
                .form-standart__item
                    input.inputtextarea(type='textarea', name='')
            .form-standart__comment
                span * - поля, обязательные для заполнения
            .form-standart__field
                .form-standart__label
                .form-standart__item
                    input.btn-color(type="submit" name="" value='Сохранить')
